#topnav { 
    margin:0px; padding:0px; height:auto; width:100%; float:left; clear:both; background:lightslategray; }
.topnav_holder { margin:0px auto; width:1080px; }
.topnav { width:100%; float:left; margin:0px; padding:0px 0px 0px 0px; height:auto; }
.topnav ul { width:100%; float:left; height:auto; margin:0px; padding:0px; position:relative }
.topnav ul li { list-style:none; width:auto; height:42px; float:left; margin:0px; padding:0px; position:relative}
.topnav ul li a { background:lightslategray; text-decoration:none; width:auto; float:left; margin:0px 25px 0px 0px; padding:0px 20px 0px 20px; height:42px; line-height:42px; color:#fff; font-family:'opensanssemibold'; font-size:15px; }
.topnav ul li a.tnactive { background:lightsalmon; }
.topnav ul li a:hover, #topnav ul li:hover > a, #topnav ul li a.tnm_active { background:lightsalmon; }
.topnav ul li a span { background:url(../images/icon_menu_arrow.png) no-repeat right top; width:7px; height:5px; float:right; margin:22px 0px 0px 12px; padding:0px; border:none; font-size:0px; line-height:0px; }
.topnav ul li ul { display:none; }
.topnav ul li:hover ul { display:block; z-index:9999; position:absolute; left:0px; top:42px; float:left; clear:both; width:130px; height:auto; margin:0px; padding:5px 10px 10px 10px; background:lightsalmon; }
.topnav ul li ul li { list-style:none; width:100%; float:left; margin:0px; height:auto; padding:0px; background:none; border-bottom:dotted 1px #fff; }
.topnav ul li ul li:last-child { border-bottom:none; }
.topnav ul li ul li a { width:100%; float:right; margin:0px; height:auto; padding:0px; background:none; text-decoration:none; color:#fff; font-family:'opensanssemibold'; font-size:13px; font-weight:bold; line-height:36px; }
.topnav ul li ul li a:hover { color:#000; }
.menuicon{padding:0; margin:0; position:absolute; right:4%; top:20px; display:none;}
.menuicon img{width:auto !important;
}
#btnn
{
    background-color:lightcoral;
    margin: 10px; 
    font-weight: bold;
    color: aliceblue;
    width: 200px;
}
#btnn:hover
{
    background-color:aliceblue;
    color: lightcoral;
}
