<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
      <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"> -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css"> 
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css"> 
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
      <style>
          body{
              background:#f2f2f2;
          }
          .well
          {
              background: white;
          }
          h1{
              font-size: 25px;
          }
          #book
          {
              height: 50px;
              width: 140px;
          }
      </style>
    
    </head>
    <body>
    
    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-3">
                <div class="well">
                  <h1>kzssdkls</h1>
                  <h1>kzssdkls</h1>
                  <h1>kzssdkls</h1>
                  <h1>kzssdkls</h1>
                </div>
                <div class="well" style="margin-top: 50px;">
                    <h1>kzssdkls</h1>
                    <h1>kzssdkls</h1>
                    
                  </div>

            </div>
            <div class="col-lg-9">
                <div class="well">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="images/im.jpg" alt="" height="150px" width="200px">
                        </div>
                        <div class="col-lg-7">
                            <h1>Mahindra Scorpio</h1>
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;" class="vi"> AGE LIMIT 18+</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Earn 624 Z</span><br>
                            <br><span style="color:gray;">Address</span><br>
                            <h5>Within 7.5 km from starting point</h5>
                        </div>
                        <div class="col-lg-2">
                            <h1 class="text-success" style="font-size: 35px;">₹76069</h1>
                            <span style="color: gray;">Excess Rs 15/km</span>
                            <button class="btn btn-success btn-lg" id="book" style="margin-top: 10px;">BOOK NOW</button>
                        </div>
                    </div>
                    
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="images/im.jpg" alt="" height="150px" width="200px">
                        </div>
                        <div class="col-lg-7">
                            <h1>Mahindra Scorpio</h1>
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;" class="vi"> AGE LIMIT 18+</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Earn 624 Z</span><br>
                            <br><span style="color:gray;">Address</span><br>
                            <h5>Within 7.5 km from starting point</h5>
                        </div>
                        <div class="col-lg-2">
                            <h1 class="text-success" style="font-size: 35px;">₹76069</h1>
                            <span style="color: gray;">Excess Rs 15/km</span>
                            <button class="btn btn-success btn-lg" id="book" style="margin-top: 10px;">BOOK NOW</button>
                        </div>
                    </div>
                    
                </div>
        
                <div class="well">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="images/im.jpg" alt="" height="150px" width="200px">
                        </div>
                        <div class="col-lg-7">
                            <h1>Mahindra Scorpio</h1>
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;" class="vi"> AGE LIMIT 18+</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Earn 624 Z</span><br>
                            <br><span style="color:gray;">Address</span><br>
                            <h5>Within 7.5 km from starting point</h5>
                        </div>
                        <div class="col-lg-2">
                            <h1 class="text-success" style="font-size: 35px;">₹76069</h1>
                            <span style="color: gray;">Excess Rs 15/km</span>
                            <button class="btn btn-success btn-lg" id="book" style="margin-top: 10px;">BOOK NOW</button>
                        </div>
                    </div>
                    
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="images/im.jpg" alt="" height="150px" width="200px">
                        </div>
                        <div class="col-lg-7">
                            <h1>Mahindra Scorpio</h1>
                            <span style="color:gray;"><img src="{{ images/images.png }}" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;" class="vi"> AGE LIMIT 18+</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Earn 624 Z</span><br>
                            <br><span style="color:gray;">Address</span><br>
                            <h5>Within 7.5 km from starting point</h5>
                        </div>
                        <div class="col-lg-2">
                            <h1 class="text-success" style="font-size: 35px;">₹76069</h1>
                            <span style="color: gray;">Excess Rs 15/km</span>
                            <button class="btn btn-success btn-lg" id="book" style="margin-top: 10px;">BOOK NOW</button>
                        </div>
                    </div>
                    
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="images/im.jpg" alt="" height="150px" width="200px">
                        </div>
                        <div class="col-lg-7">
                            <h1>Mahindra Scorpio</h1>
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Seater</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;" class="vi"> AGE LIMIT 18+</span>&nbsp;&nbsp;&nbsp;
                            <span style="color:gray;"><img src="images/images.png" alt="" height="20px">7 Earn 624 Z</span><br>
                            <br><span style="color:gray;">Address</span><br>
                            <h5>Within 7.5 km from starting point</h5>
                        </div>
                        <div class="col-lg-2">
                            <h1 class="text-success" style="font-size: 35px;">₹76069</h1>
                            <span style="color: gray;">Excess Rs 15/km</span>
                            <button class="btn btn-success btn-lg" id="book" style="margin-top: 10px;">BOOK NOW</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <body>
       
    </body>
    </html>