
{% extends 'maste.html' %}
{% load static %}
{% block containt %}

    
<div id="head1">
    <img src="{% static 'images/artical.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;">Motor Vehicles (Amendment) Act 2019 – All You Need To Know</h1>
    </div>        
<div class="container">
   <div class="row">
       <div>
        <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
            Motor Vehicles (Amendment) Act 2019 Mandates Vehicle Insurance
        </h1>
       </div>
       <div class="sfnewsAuthorAndDate sfmetainfo marB15">
        March 1 2020

    </div>
    <div>
        <img class="img-responsive" title="motor-vehicle-act-2019" alt="showing-motor-vehicle-act-2019" src="{% static 'images/motor_act.jpg' %}" displaymode="Original" style="margin-top: 10px;">
        <p>The Motor Vehicles (Amendment) Act 2019 came into effect on September 1, 2019, with an intent to curb road accidents in India and boost road safety. This massive update to the Motor Vehicles Act 1988 has led to the introduction of fresh penalties and license requirements for vehicles along with new operating standards for both personal and commercial motor vehicles. </p>
        <p>
        The new Motor Vehicles Bill brings forth a jaw-dropping surge in the fines for traffic rules violators. The Bill also seeks to spread awareness towards road safety and aims to discourage drivers from flouting traffic rules and regulations. </p>
        <p>
        Here are some of the key points of the Motor Vehicles Act (Amendment) Act 2019 that you must know: </p>
        </div>
 
        


<ul>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">● Mandatory Motor Insurance: </h3>
    </li>
    <img class="img-responsive" title="protection-concept" alt="protection-concept" src="{% static 'images/act2.jpg' %}" displaymode="Original" style="margin-top: 10px;">
    <p>●The Bill instructs the Central Government to create a special Motor Vehicle Accident Fund that will be designed to provide compulsory vehicle insurance to vehicle owners. Car insurance and two-wheeler insurance offered by the Government has been targeted to ensure: </p>
    <li>● Medical treatment for road accident victims under the ‘golden hour’ scheme.</li>
    <li>● Monetary compensation to the next of kin of a person who has died in a ‘hit and run’ accident.</li>
    <li>● Monetary compensation to the next of kin for a person grievously injured in a ‘hit and run’ accident.</li>
    <li>● Monetary compensation for to other victims as identified under the new guidelines.
    </li>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">● Vehicle Recall:</h3>
    </li>
    <p>● Under the amended Motor Vehicles Act 2019, the Central Government reserves the rights to recall a vehicle of any make and model if it poses a persistent threat to drivers, environment or the public at large. The ‘recall’ use has been hailed as a great step towards bringing accountability in the auto industry. With the recall clause, a vehicle manufacturer will be liable to: </p>
    <li>● Provide full reimbursement to the vehicle owner against the recall.</li>
    <li>● Substitute the recalled vehicle with a replacement vehicle that has similar or higher specifications.
    </li>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">● Road Accident Compensation:</h3>
    </li>
    <img class="img-responsive" title="product-recall" alt="recall" src="{% static 'images/act3.jpg' %}" displaymode="Original" style="margin-top: 10px;">
    <p>● The amended act prescribes compensation and immediate cashless treatment for accident victims with the ‘golden hour’ period. Under the clause, the golden hour is described as the ‘one-hour’ post a major accident, wherein prompt, life-saving medical treatment can be given to the victim, thus saving his/her life. The act also envisions providing interim relief to third-party insurance claimants, seeking compensation.</p>
    <li>● Minimum compensation in case of death in a hit &amp; run case: Rs. 2 lakh.</li>
    <li>● Minimum compensation in case of grievous injury in a hit &amp; run case: Rs. 50,000.
    </li>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">● Legal Protection for Good Samaritans: </h3>
    </li>
    <img class="img-responsive" title="first-air-injured-woman" alt="first-air-injured-woman" src="{% static 'images/act4.jpg' %}" displaymode="Original" style="margin-top: 10px;">
    <p>● Under the good samaritans provision, any civilian administering aid (medical/non-medical) to an accident victim will not be pursued with legal/criminal action due to the death of the victim. The same is applicable in the case of seriously injured victims. However, the legal cushion is based on three factors:
    </p>
    <li>● The assistance given to the victim should be in good faith.</li>
    <li>● The assistance should not be based on rewards expectations, monetary or otherwise.</li>
    <li>● The assistance given should be entirely voluntary.
    </li>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">● Increased Penalties: </h3>
    </li>
    <a href="#"><img class="img-responsive" title="traffic" alt="talking-driver" src="{% static 'images/act5.jpg' %}" displaymode="Original" style="margin-top: 10px;"></a>
    <p>The main talking point of the new Motor Vehicles (Amendment) Act 2019 is the steep rise in the monetary penalties for traffic violators. Despite facing opposition from various sections, the hiked penalties have been enforced and have already witnessed rigorous implementation.  </p>
    <p>
    A majority of the states have welcomed this surge aimed at reducing traffic violations, drastically. Below is the full list of traffic violations and their revised fines as per the Motor Vehicles (Amendment) Act, 2019: </p>
    <table class="table blist tblz01 rwd-table" style="color: #415f81;background: #e7ecec;">
        <tbody>
        </tbody>
        <thead>
            <tr>
                <th><center> Traffic Violations</center></th>
                <th><center>Previous Fines (Rs.)</center></th>
                <th><center>Revised Fines (2019) in Rs.</center></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Travel without a ticket (public transportation)</td>
                <td>200</td>
                <td>500</td>
            </tr>
            <tr>
                <td>Driving without license</td>
                <td>500</td>
                <td>5000</td>
            </tr>
            <tr>
                <td>Overspeeding</td>
                <td>400</td>
                <td>●	1,000 for light vehicles<br>
                ●	2,000 for medium vehicles</td>
            </tr>
            <tr>
                <td>Driving under the influence</td>
                <td>2,000</td>
                <td>10,000</td>
            </tr>
            <tr>
                <td>Dangerous driving </td>
                <td>1,000</td>
                <td>Up to 5,000</td>
            </tr>
            <tr>
                <td>Vehicle speeding/racing</td>
                <td>500</td>
                <td>5,000</td>
            </tr>
            <tr>
                <td>No helmet</td>
                <td>100</td>
                <td>1,000 + 3 months suspension</td>
            </tr>
            <tr>
                <td>Driving without insurance</td>
                <td>1,000</td>
                <td>2,000</td>
            </tr>
            <tr>
                <td>Two-wheeler overloading</td>
                <td>100</td>
                <td>1,000 + 3 months license suspension</td>
            </tr>
            <tr>
                <td>No permit vehicle</td>
                <td>100</td>
                <td>1,000 + 3 months license suspension</td>
            </tr>
            <tr>
                <td>No seat belt</td>
                <td>100</td>
                <td>1,000 + 3 months license suspension</td>
            </tr>
            <tr>
                <td>Riding without a helmet</td>
                <td>100</td>
                <td>1,000 + 3 months license suspension</td>
            </tr>
            <tr>
                <td>Juvenile offences</td>
                <td>N/A</td>
                <td>25,000 fine for the guardians with 3 years jail term. Juvenile to be tried under the Juvenile Justice &amp; Protection Act</td>
            </tr>
            <tr>
                <td>Violation of licensing by cab aggregators</td>
                <td>N/A</td>
                <td>25,000 to 100,000</td>
            </tr>
            <tr>
                <td>Driving post-license disqualification</td>
                <td>500</td>
                <td>10,000</td>
            </tr>
        </tbody>
    </table>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">Insurance Cover – Top Priority</h3>
    </li>
    <p>
    Be it car insurance or two-wheeler insurance, getting vehicle insurance policy done right has become a top ’to-do’ on everyone’s list. You can buy car insurance online or get your vehicle insured through third-party insurance companies.</p>
    <p>
    With the implementation of Motor Vehicles (Amendment) Act 2019, rules and penalties have become stricter, thus getting yourself the obligatory insurance cover is of greatest significance. </p>
    <p>The enforcement of the Act will ensure that the vehicle owners, especially who have two-wheelers will now be more inclined to opt for vehicle insurance. Now, if you are wondering how to avoid the steep fines and penalties for traffic violations, then simply follow this:</p>
    <p>
    “Wear a helmet, put the seatbelt on, don’t drink &amp; drive, stay in your lane, keep your license handy, and most important of all, keep your car and your loved ones safe with <a href="/motor-insurance?source=prodcategory&amp;opt=motor#products" target="_blank"> motor insurance.”</a>
    </p>
</ul>
        </div>
    </div>


{% endblock %}