{% extends 'maste.html' %}
{% load static %}
{% block containt %}
<style>
    #form1
		{
			margin: 80px;
			padding: 50px;
			margin-bottom: 30px;
			border:1px solid #f3f3f3;
			background-color: white;
			 font-family:all;
		}
        #name,#email,#mes
		{
			border-color:#EE2737FF; 
		}
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form name="form1" id="form1">
                <div class="form-group">
                    <h3>SAY SOMETHING</h3>
                      <input type="text" name="name" id="name" class="form-control" placeholder="your Name.." required> <br>                        		
                      <input type="email" name="email" id="email" class="form-control" placeholder="youe mail.." required><br>
                      <textarea rows="4" class="form-control" id="mes" placeholder="message.."required></textarea>  <br>   
                      <input type="submit" name="submit" value="Send" class="form-control btn btn-default" style="background-color: #EE2737FF;">           		
                 </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}