{% extends 'maste.html' %}
{% load static %}
{% block containt %}
<style>
   .panel-body ul li a:hover
    {
        
        border-bottom: 2px solid red;
        color: rgb(214, 28, 28);
    }
</style>
<div id="head1">
    <img src="{% static 'images/customer_support_banner.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white; margin-top: -0px;">Customer Support</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class='col-lg-4'>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #A51D2C;">
                            <h1 class="panel-title text-center" style="color: #FFFFFF; font-size: 20px; font-weight: 600;">Request Changes to your policy</h1>
                             </div>
                             <div class="panel-body">
                                <ul>
                                    <li><a href="#" style="color: black;font-size: 20px;text-decoration: none;">Address Change</a></li>
                                    <li style="margin-top: 8px;"><a href="#" style="color: black;font-size: 20px;text-decoration: none;">Telephone/Mobile Number Change</a></li>
                                    <li style="margin-top: 8px;"><a href="#"style="color: black;font-size: 20px;text-decoration: none;" >Gender Reflaction</a></li>
                                    <li style="margin-top: 8px;"><a href="#" style="color: black;font-size: 20px;text-decoration: none;">Correction Of Registration Number</a></li>
                                    <li style="margin-top: 8px;"><a href="#" style="color: black;font-size: 20px;text-decoration: none;">First Name Change</a></li>
                                    <li style="margin-top: 8px;"> <a href="#" style="color: black;font-size: 20px;text-decoration: none;">Change E-mail ID</a></li>
                                </ul>
                        </div>
                      </div>  
            </div>
            <div class='col-lg-4'>
                <div class="panel panel-default" style="height: 290px;">
                    <div class="panel-heading" style="background-color: #A51D2C;">
                            <h1 class="panel-title text-center" style="color: #FFFFFF; font-size: 20px; font-weight: 600;">Need Help With Claim</h1>
                             </div>
                             <div class="panel-body">
                                <ul>
                                    <li><a href="{% url 'download' %}" style="color: black;font-size: 20px;text-decoration: none;">Download Claim Form</a></li>
                                    <li style="margin-top: 8px;"><a href="{% url 'garage_list' %}" style="color: black;font-size: 20px;text-decoration: none;">Cashless Garage</a></li>
                                    
                                </ul>
                         </div>
                      </div>  
            </div>
            <div class='col-lg-4'>
                <div class="panel panel-default" style="height: 290px;">
                    <div class="panel-heading" style="background-color: #A51D2C;">
                            <h1 class="panel-title text-center" style="color: #FFFFFF; font-size: 20px; font-weight: 600;">Request Plicy Copy</h1>
                             </div>
                             <div class="panel-body">
                                <ul>
                                    <li><a href="#" style="color: black;font-size: 20px;text-decoration: none;">Print Policy</a></li>
                                </ul>
                        </div>
                      </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="#" class="btn btn-lg form-control" style="background-color: #A51D2C;color: #FFFFFF; font-weight: bold; font-size: 20px;line-height: 10px;">RENEWAL OF POLICY</a>
            </div>
            <div class="col-lg-4">
                <a href="{% url 'download' %}" class="btn btn-lg form-control" style="background-color: #A51D2C;color: #FFFFFF; font-weight: bold; font-size: 20px;line-height: 10px;">DOWNLOADS</a>
            </div>
            <div class="col-lg-4">
                <a href="{% url 'grievance_page' %}" class="btn btn-lg form-control" style="background-color: #A51D2C;color: #FFFFFF; font-weight: bold; font-size: 20px;line-height: 10px;"> GRIEVANCE REDRESSAL</a>
            </div>

        </div><br>
        <div class="row">
            <div class="col-lg-4">
                <a href="{% url 'branches' %}" class="btn btn-lg form-control" style="background-color: #A51D2C;color: #FFFFFF; font-weight: bold; font-size: 20px;line-height: 10px;">HASS BRANCHES</a>
            </div>
            <div class="col-lg-4">
                <a href="{% url 'garage_list' %}" class="btn btn-lg form-control" style="background-color: #A51D2C;color: #FFFFFF; font-weight: bold; font-size: 20px;line-height: 10px;">CASHLESS GARAGES</a>
            </div>
            

        </div>
    </div>
{% endblock %}