{% extends 'maste.html' %}
{% load static %}
{% block containt %}
        <link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css">
        <div class="container">
            <div class="row centered-form">
                <div class="col-md-6 col-sm-offset-2 col-md-offset-2">
            
                <h1> Get What Your Car needs.</h1>
                  <form name="login" method="POST">
                  <div class="input-div one">
                      
                      <div>
                          <h5 >Vehical Registration No.</h5>
                          
                          <input type=text class="input" name="registration">
                          
                      </div>
                  </div>
                  <div class="input-div two">
                      
                      <div>
                          <h5>Mobile Number</h5>
                          <input type=password class="input">
                      </div>
                  </div>
                  <div class="input-div two">
                      <div>
                  <h5>Email</h5>
                  <input type="text" name='name' class="input">
                  </div>
                 </div>
                <div style="color: white;"> <input type="checkbox" name="input-check"> I agree to the <a href="#" style="text-decoration:none;color: white;">Terms and Conditions</a></div>
                <br><br>
                 <a href="{% url 'select_plan' %}" class="btn-primary btn-orange js-car-register">Get Quote</a>
                 
              </form>
          </div>
      
         </div>
     </div>
       
        
    {% endblock %}