
{% extends 'maste.html' %}
{% load static %}
{% block containt %}
<style>
    .info1 {
    text-align: left;
    font-family: "arial";
    font-size: 16px;
    color: #333;
    margin: 0px;
    padding: 20px 0px 5px;
    text-align: justify;
}
</style>
    
<div id="head1">
    <img src="{% static 'images/agent.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;margin-top: -0px;">Disclaimer</h1>
    </div>        
<div class="container">
   <div class="row">
       
      
  
<div class="sfContentBlock"><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgwhite">
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        LEGAL DISCLAIMER
    </h1>
    <p class="info1">
        The website is maintained by HASS and your use of any part of the website is subject to the Terms and Conditions available herein and all applicable Indian laws.
  </p>
  <p class="info1">The materials and content available on the website are provided without warranties of any kind, either express or implied, and HASS specifically disclaims all warranties, including implied warranties of merchantability or fitness for any purpose. HASS does not make any representation or warranty regarding the use, or the results of the use, of the materials and content available on the web site in terms of accuracy, reliability or otherwise. The product information, including the scopes of cover, terms, conditions, exclusions and limitations, available on the website is not intended to be exhaustive and is indicative in nature.</p>
  <p class="info1">
    The website may contain links to other websites, webpages and services also operated by HASS and / or its Affiliates (the "HASS Sites"), and your use of each HASS Site is also subject to the Terms and Conditions and other terms and guidelines, if any, contained within each HASS Site. HASS disclaims all liability for the content and/or materials available on such other sites.</p>
  <p class="info1">HASS website provides link to many websites created and maintained by other organisations. HASS provides these links as a service to the users and solely for our user's information and convenience. When users link to an outside website, they are leaving the HASS site and are subject to the privacy and security policies of the owners/sponsors of the outside website(s).</p>
  <p class="info1">HASS does not control or guarantee the accuracy, relevance, timeliness or completeness of information contained on a linked website.</p>
  <p class="info1">HASS does not endorse the organisations sponsoring linked websites and we do not endorse the views they express or the products/services they offer.
</p>
  <p class="info1">HASS does not and cannot authorise the use of copyrighted materials contained in linked websites. Users must request such authorisation from the sponsor of the linked website.</p>
  <p class="info1">
    HASS is not responsible for transmissions users receive from linked websites.</p>
  <p class="info1">You should assume that everything you see or read on the website (including but not limited to directories, guides, news articles, opinions, reviews, text, photographs, images, illustrations, profiles, audio clips, video clips, trademarks, service marks and the like) is copyrighted/ protected by intellectual property laws unless otherwise noted and may not be used except as provided in these Terms and Conditions, or in the text on the website, without the prior written permission of HASS. HASS neither warrants nor represents that your use of materials displayed on the website will not infringe patent, copyright or any intellectual property rights or any other rights of third parties not owned by or affiliated with HASS.</p>
  

    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        US SENATE
    </h1>
    <p class="info1">
        Since India has no anti-spamming law; according to the US directive in Bill.1618 Title III by the 105th Congress, the email cannot be considered spam if it contains the contact information of the sender, and an unsubscribe mechanism. Your privacy is very important to us</p>
       
</div>
</div>
</div>
</div>

{% endblock %}