
{% extends 'master1.html' %}
{% load static %}
{% block containt %}
<br>
<br>
      <style>
         .h
         {
             border: 3px solid;
             border-radius: 10px;
             height: 300px;
             width: 300px;
             color: gray;
            
         }
      </style>
    
    </head>
    <body>
       <center><h1>ELIGIBILITY FOR HASS COMPANY</h1></center> 
       <br>
       <br>
       <div class="container" >
           <div class="row">
               <div class="col-lg-3 h">
                   <br>
            <center>   <span><img src="{% static 'img/1000.png'%}" width="140px" height="140px"></span></center> 
                        <br>
            <center>    Customer should be 24 year and older to book Mercedes A Class, Mercedes GLA, Mercedes CLA, Audi Q3, Toyota Fortuner, Ford Endeavour, else booking will be cancelled
            </center>
               </div>
               <div class="col-lg-1">

               </div>
               <div class="col-lg-3 h">
                   <br>
                <center>   <span><img src="{% static 'img/1002.png'%}" width="140px" height="140px"></span></center> 
                <br>
               <center> Members must be 18 years of age or older</center>
            </div>
            <div class="col-lg-1">
                
            </div>
            <div class="col-lg-3 h">
                <br>
                <center>   <span><img src="{% static 'img/1003.png'%}" width="140px" height="140px"></span></center> 
                <br>
               <center>Member must possess a valid Light Motor Vehicle (Non Transport) Indian license and Aadhar card</center> 
            </div>
            <div class="col-lg-1">
                
            </div>
           </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-3 h">
                    <br>
                    <center>   <span><img src="{% static 'img/1004.png'%}" width="140px" height="140px"></span></center> 
                    <br>
                 <center>   Members must have had no alcohol or drug related driving violations in the past seven years</center>

                </div>
                <div class="col-lg-1">
 
                </div>
                <div class="col-lg-3 h">
                    <br>
                    <center>   <span><img src="{% static 'img/1005.png'%}" width="140px" height="140px"></span></center> 
                    <br>
                    <center>Payments are only accepted through credit card, debit card or net banking
                    </center>
             </div>
             <div class="col-lg-1">
                 
             </div>
             <div class="col-lg-3 h">
                 <br>
                <center>   <span><img src="{% static 'img/1006.png'%}" width="140px" height="140px"></span></center> 
                <br>
                <center>There is no minimum amount of time that an individual must hold a license before becoming a member or reserving a Zoomcar vehicle
                    </center>
             </div>
             <div class="col-lg-1">
                 
             </div>
            </div>
 
       </div>   
    </body>
    </html>
    {% endblock %}