{% extends 'master.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
<p style="font-size: 40">What is other FAQs ?</p>
            <div style="width: 50%;float:right;height: 140%;background-color: lightgrey;font-size: 20 " class="container">
                <p><strong>What is Roadside Assistance?</strong>
                <br>Roadside assistance is a service provided by Allianz Global Assistance which assists you in situations where you need help on the road with your vehicle. The service offers many benefits from getting your vehicle fixed on the spot to towing or taxi service to help you reach your destination.</p>
            <p><strong>Does roadside assistance affect vehicle warranty with manufacturer?</strong>
                <br>As no unauthorised repairs are done and vehicle is towed to nearest service station in case of a major breakdown, roadside assistance does not affect vehicle warranty.
            <p><strong>Whom do I contact in case of an emergency?</strong>
                <br>In case of emergency, you can call our helpline and identify yourself for immediate help.
            <p><strong>Are there any charges to be borne by me during the time of emergency?</strong>
                <br>You do not have to pay for the service, however in case of consumables that may be required to get your vehicle mobilized, you have to pay for the same.
            <p><strong>Is there a vehicle age limit?</strong>
                <br>Yes, vehicles more than 10 years old are not eligible for roadside assistance
            </div>
            <div style="width: 50%;height: 140%;background-color: white;font-size: 20 ;padding-right: 10px;" >
                    <p><strong>Would you be providing assistance even if some other member of the family is driving the car?</strong>
                        <br>We provide roadside assistance to any person who is driving the car, as long as the car is covered. There may be an authorisation request call for service to the owner for confirmation in case help is requested by another member
                    <p><strong>Can I avail membership on my other cars too?</strong>
                        <br>Each membership is for a particular vehicle. You can buy memberships for different vehicles but you cannot use coverage benefits for one vehicle on another.
                    <p><strong>What is the coverage area of membership?</strong>
                        <br>As per your plan, you can avail coverage up to a radius of 50 km from the centre of city or PAN India.
                    <p><strong>Is there a limit on the number of times the service can be availed?</strong>
                        <br>Under the Standard Plan, you can avail the service 3 times a year. However, in the Premium Plan, there is no limit on service requests.
                    <p><strong>Is it possible to transfer Roadside Assistance Membership?</strong>
                        <br>No, the membership cannot be transferred from one vehicle to another during the duration of the membership. In case you sell your car, the new owner can avail the service until the expiration of the membership.
            </div>
        </div>
 {% endblock %}   