{% extends 'master.html' %}
{% load static %}
{% block content %}

  <style>
    h2 {
      text-align: center;
      color: #003781;
      font-size: 30px;
      font-family: 'opensansbold';
      text-transform: uppercase;
  }
  h2 span {
      display: block;
      text-transform: none;
      font-size: 20px;
  }
  </style>
  <br>
              <div style="width: 100%;height: 70%; background-image:url({% static 'img/img6.jpg' %});background-size: 100%;margin-top:-20px;background-repeat: no-repeat; ">
                  <div style="font-weight: bolder;font-size: 20;text-align: center;color:#003781;-ms-text-combine-horizontal: 10px;">
                    <label style="margin-top: 80px;margin-left: 75%;height: 180;width: 280;background-color: white;border-radius: 0px 0px 25px 0px; "><br><span style="font-size: 30px;font-weight: bold;">Running a flat Tyre?</span>
                     <br> Call us for assistance!</label>
                  </div>
              </div>
              <div class="container">
                <h2>FLAT TYRE REPLACEMENT<span>anytime, anywhere.</span></h2>
                <p style="text-align: center;color: #383838;font-size: 17px;font-family: 'opensansregular';margin: 20px 0;">
                  We ensure that your vehicle’s flat tyre is repaired or replaced right away – either on-site or at the nearest garage, so that you can get back on the road in as little time as possible. Our authorised team will reach your location in less than an hour, depending on the location, to fix the punctured tyre(in case of multiple flat tyres) or replace it with the spare tyre.</p>
              
                <p style="text-align: center;color: #383838;font-size: 17px;font-family: 'opensansregular';margin: 20px 0;">Become a member now to enjoy a worry free experience on roads across India, or dial our helpline to ask for immediate assistance.</p>
                <a href="{% url 'flat_plans' %}"><button class="btn btn-danger btn-lg form-control" style="height: 50px; border-color: black;border-radius:8px; ">View Membership Plan</button></a>
          </div> 
          <br>
          <hr>
          
    <div>
        <h1 class="text-center" style="color: #003781;">HOW DOES IT WORK?</h1>
      <br>  
          
         <div style="background-color: gray;height: 40%; width: 50%;float: right;padding: 20px;">
          <label style="font-weight: bold;font-size: 20"> Member..?</label>
          <ul>
                      <li>Call 910 686 7460</li>
                      <li>Get immediate assistance</li>
                      <li>Identify yourself with Membership Number or Vehicle Number</li>
                      <li>Tell us the issue with your vehicle</li>
                    </ul>  
         </div> 
         <div style="background-color: lightgray;height: 40%; width: 50%;padding: 20px;">
              <label style="font-weight: bold;font-size: 20">Not Member..?</label>    
          <ul>
                  <li>Call 910 686 7460</li>
                  <li>Tell us the issue with your vehicle</li>
                  <li>We confirm service charges</li>
                  <li>Make Online Payment</li>
                  <li>Get immediate assistance</li>
                    </ul>                  
          </div> 
         <br>  
         
           <div class="container-fluid">
            <div class="well" style="background: white;border-radius: none;border: none;">
              <h1 class="text-center text-info">WHY CHOOSE US?</h1>
           <div class="row">
            <div class="col-lg-1"></div>
                <div class="col-lg-3 col-md-4">
                  <img src="{% static 'img/safe.png' %}" alt="">
                  <h1 style="font-size: 19px;margin-top: 40px;">Safe. Reliable. Professional.</h1>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 col-md-4">
                  <img src="{% static 'img/transparent.png' %}" alt="">
                  <h1 style="font-size: 19px;margin-top: 30px;">Transparent Pricing</h1>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 col-md-4">
                  <img src="{% static 'img/cashless.png' %}" alt="">
                  <h1 style="font-size: 19px;margin-top: 40px;margin-right: 20px;">Online/Cashless Payment.</h1>
                </div>
           </div>
          </div>
         </div>
 {% endblock %}   