{% extends 'maste.html' %}
{% load static %}
{% block containt %}


    <style>
        .head1
        {
            height: 800px;
            background-image: url("{% static 'images/i4.svg' %}");
            width: 100%;
            background-size: cover;
            background-position: center;     
			margin-top:-20px;
        }
 
        
    </style>

    
        <div class="head1" class="img-responsive">
            <div style="width: 100%; background-color:rgba(0,0,0,0.5); height:100%">
              <marquee behaviour="scroll" direction="left" scrollamount="10">
                <label style="font-size: 20px; font-weight: bolder; color:white;margin-top:10px;">
                    {{claim_msg}}{{msg}}
				</label>
			</marquee>
            </div>
        </div>
              <div class="container" style="margin-top: 50px;">
				  <div class="row">
					  <div class="col-lg-1">
						  <img src="{% static 'images\i1.svg' %}" alt="">
					  </div>
					  <div class="col-lg-2">
					
							<span>Certified &amp; Licensed by</span>
							<span class="title-lg" style="font-weight:bold;">IRDAI (Reg.No.158)</span>
							<span style="font-size:13px;">Indian Insurance Regulator</span>
						
					  </div>

					  <div class="col-lg-1 col-lg-offset-1">
						<img src="{% static 'images\i2.svg' %}" alt="">
					  </div>
					  <div class="col-lg-2">
						<span>Trusted by</span>
						<span class="title-lg" style="font-weight:bold;">25 Lakh Indians</span><br>
						<span style="font-size:13px;">for their insurance needs</span>
					  </div>
					  <div class="col-lg-1 col-lg-offset-1 ">
						<img src="{% static 'images\i3.svg' %}" alt="">
					  </div>
					  <div class="col-lg-2">
						<span>Avail cashless Facility</span>
						<span class="title-lg" style="font-weight:bold;">1000+ Garages</span><br>
						<span style="font-size:13px;">Pan India</span>
					  </div>
				  </div>
				  
			  </div>
			  <hr>
			  <h1 class="text-center" style="font-size: 30px;">Buy Policy To Experience our Service</h1>
			  <center><a href="{% url 'select_plan' %}" class="btn btn-warning btn-lg">BUY NOW</a></center>
			  
			  <div class="jumbotron" style="border-radius: 0px; margin-top: 50px;">
				<h1 class="text-center" style="font-size: 30px;margin-top: -10px;">Common mistakes when comparing car insurance quotes</h1>
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-lg-offset-1">
							<div class="well" style="background-color: white; height: 260px;">
								  <h1 style="font-size: 25px;">How do people car insurance compare quotes generally?</h1>
								  <ul style="font-size: 18px;">
									  <li>Low Premium</li>
									  <li>Low Premium</li>
									  <li>Low Premium</li>
								  </ul>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="well" style="background-color: white;height: 260px;">
								<h1 style="font-size: 25px;">But how should car insurance quotes be compared?</h1>
								<ul style="font-size: 18px;">
									<li>Look for the Right Insured Declared Value (IDV)</li>
									<li>Check the Service Quality of the Insurance Company</li>
									<li>Check the Claim Settlement History of the Insurance Company</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			  </div>
			  <br>
			   <h1 class="text-center" style="font-size: 30px;">Claim Your Policy Now...!</h1>
			<center><a href="{% url 'c_claim' %}" class="btn btn-warning btn-lg">CLAIM NOW</a></center>
			<div class="jumbotron" style="border-radius: 0px; margin-top: 50px; height: 500px;">
				<h1 class="text-center" style="font-size: 30px;margin-top: -10px;">How should you select the best Vehicle Insurance plan?</h1><br>
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="well" style="background-color: white; height: 350px;">
								 <span class="text-left" style="font-size: 18px;font-weight: bold;">
									Look for the IDV
									<br> offered
								 </span>
								 <span class="text-right"><img src="{% static 'images/i5.svg' %}" alt="" height="40px" style="margin-left: 130px; margin-top: -35px;"></span>
								 <p style="font-size: 15px;color: #817e7e;margin-top: 50px;">IDV is the value of your car that you will receive if there’s theft or total loss. So, it is wise to check the IDV offered by the insurer. Caution: Insurers often lower your IDV to lower the premium Digit gives you the option to set it while buying your car insurance policy online.</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="well" style="background-color: white;height: 350px;">
								<span class="text-left" style="font-size: 18px;font-weight: bold;">
									Check for the services
									<br> offered
								 </span>
								 <span class="text-right"><img src="{% static 'images/i6.svg' %}" alt="" height="70px" style="margin-left: 170px; margin-top: -35px;"></span>
								 <p style="font-size: 15px;color: #817e7e;margin-top: 50px;">Look for services that gives you convenience. Caution: Some insurers offer lower prices however not so great services Digit offers are convenient services like Doorstep Pickup, Repair & Drop with 6 months Warranty, 24*7 Customer Care Support, Cashless at 1000+ Garages, Advance Cash for repairs and many more.</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="well" style="background-color: white;height: 350px;">
								<span class="text-left" style="font-size: 18px;font-weight: bold;">
									Speed of claims of
									<br> the insurer
								 </span>
								 <span class="text-right"><img src="{% static 'images/i7.svg' %}" alt="" height="60px" style="margin-left: 130px; margin-top: -35px;"></span>
								 <p style="font-size: 15px;color: #817e7e;margin-top: 50px;">Claims is the moment of truth. You should always check how fast does the insurer settle claims! Caution: Claim Settlement numbers is an important yardstick to be checked 90.4% of Digit’s claims settled are within just 30 days. This means our claims are fast and hassle-free.</p>
							</div>
						</div>
					</div>
				</div>
			  </div>
			  <h1 class="text-center" style="font-size: 30px;">Why switch to Digit Vehicle Insurance?</h1>
			  <p class="text-center" style="font-size: 20px;">Because we treat you like a VIP</p>
			  <div class="container">
				  <div class="row">
					  <div class="col-lg-3 col-lg-offset-1">
						  <img src="{% static 'images\i8.svg' %}" alt="" class="img-responsive" style="height: 200px;">
						  <h1 class="text-center" style="font-size: 25px;font-weight: bold;">Super-Fast claims</h1>
						  <p style="font-size: 15px;color: #817e7e;">90.4% claims settled in 30 days, with superfast claim process</p>
					  </div>
					  <div class="col-lg-3 col-lg-offset-1">
						<img src="{% static 'images\i9.svg' %}" alt=""  class="img-responsive" style="height: 200px;">
						<h1 class="text-center" style="font-size: 25px;font-weight: bold;">Cashless Repairs</h1>
						  <p style="font-size: 15px;color: #817e7e;">1400+ Cashless Garages for you to choose from across India</p>
					  </div>
					  <div class="col-lg-3 col-lg-offset-1">
						<img src="{% static 'images\i10.svg' %}" alt=""  class="img-responsive" style="height: 200px;">
						<h1 class="text-center" style="font-size: 25px;font-weight: bold;">Doorstep Pickup & Repair</h1>
						  <p style="font-size: 15px;color: #817e7e;">Doorstep pickup, repair and drop with 6 months repair warranty</p>
					  </div>
				  </div>
				  <div class="row">
					<div class="col-lg-3 col-lg-offset-1">
						<img src="{% static 'images\i11.svg' %}" alt=""  class="img-responsive" style="height: 200px;">
						<h1 class="text-center" style="font-size: 25px;font-weight: bold;">24*7 Support</h1>
						  <p style="font-size: 15px;color: #817e7e;">24*7 call facility even on National Holidays</p>
					</div>
					<div class="col-lg-3 col-lg-offset-1">
						<img src="{% static 'images\i12.svg' %}" alt=""  class="img-responsive" style="height: 200px;">
						<h1 class="text-center" style="font-size: 25px;font-weight: bold;">Smartphone Enabled Self Inspection</h1>
						  <p style="font-size: 15px;color: #817e7e;">Just click the damages on your phone and you are done</p>
					</div>
					<div class="col-lg-3 col-lg-offset-1">
						<img src="{% static 'images\i13.svg' %}" alt=""  class="img-responsive" style="height: 200px;">
						<h1 class="text-center" style="font-size: 25px;font-weight: bold;">High IDV per rupee</h1>
						  <p style="font-size: 15px;color: #817e7e;">We give you the option to select the right IDV for your car</p>
					</div>
				</div>
			  </div>
			  <div class="jumbotron">
				  <div class="container">
					<h1 class="text-center" style="font-size: 30px;">What’s Covered in Digit Vehicle Insurance</h1><br>
					 <div class="row">
						  <div class="col-lg-3 col-lg-offset-1">
							  <div class="well" style="background: white;height: 290px;">
									<img src="{% static 'images\i14.svg' %}" alt="" height="100" style="margin-left: 50px;">
									<h1 class="text-center" style="font-size: 25px;font-weight: bold;">Accidents</h1>
									<p style="font-size: 15px;color: #817e7e;margin-top: 30px;">Common damages to your own car like accidents & collisions</p>
							</div>
						  </div>
						  <div class="col-lg-3 col-lg-offset-1">
							<div class="well" style="background: white;height: 290px;">
								<img src="{% static 'images\i15.svg' %}" alt="" height="70" style="margin-left: 50px;">
								<h1 class="text-center" style="font-size: 25px;font-weight: bold;">Theft</h1>
									<p style="font-size: 15px;color: #817e7e;margin-top: 30px;">If unfortunately your car gets stolen</p>
							</div>
						</div>
						<div class="col-lg-3 col-lg-offset-1">
							<div class="well" style="background: white;height: 290px;">
								<img src="{% static 'images\i16.svg' %}" alt="" height="70" style="margin-left:30px;">
								<h1 class="text-center" style="font-size: 25px;font-weight: bold;">Fire</h1>
									<p style="font-size: 15px;color: #817e7e;margin-top: 30px;">Common damages due to Fire</p>
							</div>
						</div>
					  </div>
					  <div class="row">
						<div class="col-lg-3 col-lg-offset-1">
							<div class="well" style="background: white;height: 290px;">
								  <img src="{% static 'images\i17.svg' %}" alt="" height="70" style="margin-left: 40px;">
								  <h1 class="text-center" style="font-size: 25px;font-weight: bold;">Natural Disasters</h1>
									<p style="font-size: 15px;color: #817e7e;margin-top: 30px;">Damages due to any natural calamities</p>
						  </div>
						</div>
						<div class="col-lg-3 col-lg-offset-1">
						  <div class="well" style="background: white;height: 290px;">
							  <img src="{% static 'images\i18.svg' %}" alt="" height="70" style="margin-left: 50px;">
							  <h1 class="text-center" style="font-size: 25px;font-weight: bold;">Personal Accident</h1>
									<p style="font-size: 15px;color: #817e7e;margin-top: 30px;">If there is a car accident and unfortunately it leads to death or disability of the owner</p>
						  </div>
					  </div>
					  <div class="col-lg-3 col-lg-offset-1">
						  <div class="well" style="background: white;height: 290px;">
							  <img src="{% static 'images\i19.svg' %}" alt="" height="50" style="margin-left: 10px;">
							  <h1 class="text-center" style="font-size: 25px;font-weight: bold;">Third Party Losses</h1>
									<p style="font-size: 15px;color: #817e7e;margin-top: 30px;">Damage your car causes to someone else's car or any other property</p>
						  </div>
					  </div>
					</div>
				  </div>
			  </div>
			  <div class="jumbotron" style="background: white;">
				<h1 class="text-center" style="font-size: 30px;">What’s not Covered</h1>
			  <p class="text-center" style="font-size: 20px;color: #817e7e;">It is equally important to know what’s not covered in your car insurance policy, so that there are no surprises when you make a claim. Here are some such situations:</p>
			  <div class="container">
				  <div class="row">
					<div class="col-lg-4">
						<div class="well" style="background: white;height: 140px;">
							<p style="color: #817e7e;">Damage due to drunk driving</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="well" style="background: white;height: 140px;">
						<p style="color: #817e7e;">Driving without a valid driving license</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="well" style="background: white;height: 140px;">
						<p style="color: #817e7e;">Driving with a learner’s license and without a valid driving license holder in the passenger’s seat</p>
						</div>
					</div>
				  </div>
				  <div class="row">
					<div class="col-lg-4">
						<div class="well" style="background: white;height: 140px;">
						<p style="color: #817e7e;">Damage which is not a direct result of an accident</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="well" style="background: white;height: 140px;">
						<p style="color: #817e7e;">Damage due to contributory negligence</p>
						</div>
					</div>
					
				  </div>
			  </div>
			</div>
			<h1 class="text-center" style="font-size: 30px;">Renew your Vehicle insurance Today!</h1>
			<center><a href="{% url 'renew' %}" class="btn btn-warning btn-lg">Renew Now</a></center>  
				

{% endblock %}