
{% extends 'master1.html' %}
{% load static %}
{% block containt %}
<br>
<br>
      <style>
        .abhi
        {
            color: green;
        }
        .numbering {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px 0;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-color: black;

    border: 2px solid;
}
    </style>  
   <body>
    <div class="container">
      <center><h1> HASS SAFETY</center>
      <br>
      <br>
      <br>
        <div class="row">
            
          <div class="col-lg-1 numbering">1</div>
          <div class="col-lg-3">
              <span style="color: gray;  font-size: 20px;">Remain Calm </span>
          </div>
</div>
<br>
<hr>
<div class="row">
  <div class="col-lg-1 numbering">2</div>
  <div class="col-lg-11">
      <span style="color: gray;  font-size: 20px;">Call Zoomcar's 24x7 Customer Support: <h2 style="color: green;">18601239666</h2>
          Our helpful team will communicate with the respective service center to ensure that you are fully supported. Zoomcar will arrange a local tow truck to provide help wherever you are. Our technology allows us to monitor each vehicle's location remotely so we can tell your exact location when you're in trouble. This will further help expedite the incident resolution
           </span>

  </div>
  </div>
  <br>
  <hr>
  <div class="row">
      <div class="col-lg-1 numbering">3</div>
      <div class="col-lg-11">  
          <span style="color: gray;  font-size: 20px;">If you prefer to reach out directly to the vehicle manufacturer, here are their 24x7 national toll free numbers
  </span>    
</div>
  </div>
  <br>

      <div class="row">
          <div class="col-lg-3">
              <br>
              <img src="{% static 'img/download.jfif' %}" width="150px">
              <br>
              <br>
              <br>
              <br>
              <br>
              <h4>
              <div class="abhi">TOLL FREE NUMBER:</div>
              1800 5200 2365
          </h4>
          </div>
          <div class="col-lg-3">
              <br>
              <img src="{% static 'img/download2.png' %}" width="150px">
              <br>
              <br>
              <h4>
              <div class="abhi">TOLL FREE NUMBER:</div>
              1800 5200 9856 
          </div>
          <div class="col-lg-3">
              <br>
              <img src="{% static 'img/download 2.jfif' %}" width="150px">
              <br>
              <br><br>
              <h4>
              <div class="abhi">TOLL FREE NUMBER:</div>
              1800 8500 1000
          </div>
          <div class="col-lg-3">
              <br>
              <img src="{% static 'img/download3.jfif' %}" width="150px">
              <br>
              <br><br><br>
              <h4>
              <div class="abhi">TOLL FREE NUMBER:</div>
              1800 5200 4521
          </div>
      </div>
      <hr>
      <br>
      <div class="row">
          <div class="col-lg-3">
              <br>
              <img src="{% static 'img/download4.jfif' %}" width="150px">
              <br>
              <br><br><br><br>
              <br><br>
              <h4>
              <div class="abhi">TOLL FREE NUMBER:</div>
              1800 5200 6958
          </div>
          <div class="col-lg-3">
              <br>
              <img src="{% static 'img/download5.jfif' %}" width="150px">
              <br>
              <br><br><br>
              <h4>
              <div class="abhi">TOLL FREE NUMBER:</div>
              1800 5200 2545
          </div>
          <div class="col-lg-3">
              <br>
              <img src="{% static 'img/download8.jfif' %}" width="150px">
              <br>
              <br><br><br><br><br><br>
              <h4>
              <div class="abhi">TOLL FREE NUMBER:</div>
              1800 5200 2589
              
          </div>
          <div class="col-lg-3">
              <br>
              <img src="{% static 'img/download7.jfif' %}" width="150px">
              <br>
              <br><br><br><br><br><br>
              <h4>
              <div class="abhi">TOLL FREE NUMBER:</div>
              1800 5200 5208
          </div>
      </div>


    </div>
</body>

</div>
</div>   {% endblock %}