
{% extends 'maste.html' %}
{% load static %}
{% block containt %}
<style>
    p{
        text-align: left;
    font-family: "arial";
    font-size: 16px;
    color: #333;
    margin: 0px;
    padding: 20px 0px 5px;
    text-align: justify;
    }
</style>
    
<div id="head1">
    <img src="{% static 'images/agent.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;margin-top: -0px;">Privacy Policy Insure App</h1>
    </div>        
<div class="container">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
    <div>
        <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">INSURE APP PRIVACY POLICY</h3>
         <p>
            We value you as a customer and respect your right to privacy. In the process of operating the mobile app called Insure (“App”), we may become aware of information relating to you, including information that is of a confidential nature. We are strongly committed to protecting your privacy online and have taken steps to protect such information. To aid us in protecting your privacy, you should maintain secrecy of your login ID and password, provided to you in connection with your account with www.icicilombard.com
         </p> 
        </div>
 
        


<ul>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">COLLECTING YOUR PERSONAL INFORMATION</h3>
    </li>
    <p>For a superior user experience, we would require a few basic information, for which you permit us to:

    </p>
    <ul>
        <li>● use your Phone's Camera</li>
        <li>● access the audio recorder</li>
        <li>● read Contacts</li>
        <li>● read Phone State </li>
    </ul>
    <p>HASS may collect the information you provide when you:</p>
    <ul>
        <li>● Request information from App</li>
        <li>● Use online tools and calculators</li>
        <li>● Apply online for products</li>
        <li>● Subscribe to online services</li>
        <li>● Complete an online form</li>
        <li>● Conduct transactions online</li>
    </ul>
    <p>We collect contact information such as your name, address, email address and other details as given in the registration page of our App. If you purchase a policy from us, we will collect financial information such as credit card number and expiration date through the payment gateway of the credit card company or the internet banking service of your bank. We store this information for our records and to verify authenticity of the same. We also collect information such as beneficiary name, address and your relationship to the beneficiary when you buy a policy from us. This is required to maintain a record of your beneficiary details for your insurance with us.</p>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">USE OF YOUR PERSONAL INFORMATION</h3>
    </li>
    <p>We will use the information primarily for the following purposes:</p>
    <ul>
        <li>● By using this App and on procuring quotations therein, you hereby authorize us to contact you via calls, mails and/or text messages on the contact details so provided, to furnish you with information with regards to the services and products of HASS. This authorization shall be licit for the mentioned purposes irrespective of whether you are registered with the NDNC registry.</li>
        <li>● Allow you to access specific account information</li>
        <li>● Providing customisation: We may use the information provided by you to customise your visit to the App by displaying appropriate content at our judgment and discretion.</li>
        <li>● To send you information about products and services offered by HASS and its affiliates, to contact you for policy reminder notices, claims processing and to keep you updated on the insurance sector and HASS through our newsletters. In case you do not wish to receive such information, you may unsubscribe through the facility in the email message you receive.</li>
        <li>● To contact you for policy reminder notices, claims processing and to keep you updated on the insurance sector and HASS through our newsletters. </li>

    </ul>
    
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">LOG FILES</h3>
    </li>
    
    <p>
        As is true of most websites/apps, we gather certain information automatically and store it in log files. This information includes internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and clickstream data.</p>
     <p>We use this information, which does not identify individual users, to analyse trends, to administer the App, to track user movements around the App and to gather demographic information about our user base as a whole.</p>
     <p>IP addresses are tied to personally identifiable information to help us customise your visit to our website so that you like the experience. However, we would like to reiterate that this information is not shared with third parties, for their promotional purposes, except as provided under Disclosure of Information clause.</p>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">DISCLOSURE OF INFORMATION</h3>
    </li>
    
    <p>-Subject to the other terms contained herein, we will not disclose your information to any third parties or affiliates for their promotional purposes, unless acting under a good faith belief that such action is necessary to:
    </p>
    <ul>
        <li>Conform to any statutory or legal requirements or comply with legal process or judicial orders</li>
        <li>Protect, enforce and defend our rights or property</li>
        <li>Protect our interests or interests of ICICI Bank Group Companies</li>
    </ul>
   <p>We may also use your personal information for the purposes of providing you with any services and service-related activities. In this regard, it may be necessary to disclose your personal information to one or more service providers (For example, Third Party administrators for cashless hospitalisation, National Do Not Call Registry for filtering before call related activities) of HASS providing services linked to Insurance sector to fulfill your requests.</p>
   <p>We reserve the right to exchange, share or provide the information relating to your personal and financial details and information with other ICICI Bank Group Companies or statutory bodies as required and you will not hold us and/or any other group companies of ICICI Bank Group and their agents liable for use or sharing of the information.</p>
   <p>We use service providers to fulfil some of the service requests on this App including live chat, third party administrators for cashless claims and health check-up and motor surveyors for vehicle inspection. We do not share or sell your personal information to third parties. These service providers are not allowed to use your information for their promotional purposes.</p>
    
   <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">UPDATING YOUR PERSONAL INFORMATION</h3>
    </li>
    <p>If you need to update your personal information or there is any change in the personal information, or if you no longer desire our service, you may update or delete it by making the change on our registration page or by emailing our Website/App team at insuranceonline@icicilombard.com or by contacting us by telephone or postal mail at the contact information listed below.</p>
    <li>
        <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">SECURITY</h3>
        </li>
        <p>The security of your personal information is important to us. When you enter sensitive information such as credit card number on our registration or order forms, we encrypt that information using secure socket layer technology (SSL). To learn more about SSL, follow this link http://wp.netscape.com/eng/ssl3/</p>
        <p>We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information, we do not guarantee its absolute security.</p>
        <li>
            <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">CHANGES IN THIS PRIVACY STATEMENT</h3>
            </li>
            <p>We reserve the right to modify this privacy statement at any time by posting the same on the Website/App, so please review it frequently on the Website/App. If we materially change our privacy practices we will notify you by sending an email or by posting a notice on our Website/App.</p>
            <li>
                <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">BUSINESS TRANSITIONS</h3>
                </li>
                <p>In the event HASS General Insurance Company Ltd. goes through a business transition, such as a merger, acquisition by another company, or sale of all or a portion of its assets, your personally identifiable information will likely be among the assets transferred. You will be notified [via email] [prominent notice on our App for 30 days] of any such change in ownership or control of your personal information.</p>
                <li>
                    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">CONTACT US</h3>
                    </li>
                    <p> If you have any questions or suggestions regarding our privacy policy, please contact
                        us at:<br>
                        <br>
                        The Website team<br>
                        HASS General Insurance Company,<br>
                        HASS House, 414, Veer Savarkar Marg,<br>
                        Near Siddhi Vinayak Temple,<br>
                        Prabhadevi, Mumbai - 400025.<br>
                        Email: <a href="mailto:himaybharoliya503666@gmail.com">himaybharoliya503666@gmail.com</a></p></p>
    </ul>
        </div>
    </div>
</div>



{% endblock %}