
{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<style>
    
       .container
       {
           margin-top: 100px;
           margin-left: 30px;
       } 
       form
       {
           padding: 20px;
       }
       

.seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}
       .seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}


</style>
  <script>
          
$(document).ready(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"

  $("form[name='login']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
    
      username:{
        required:true,
       
      },
      password:"required",
      choise:"required"
    },
    // Specify validation error messages
    messages: {
       password: "Please provide a password",
       username: "Please enter a email address",
       
    },
    // Make sure the form is submitted to the destination defined

    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
       form.submit();
    }

	
  });

	$("form input").focusout(function () {
        $(this).valid();
    });
});
  </script>
  </head>
  <body>
  
 
   
    <div class="container">
        <div class="row centered-form">
            <div class="col-md-6 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading" style="height:50px;">
                            <h1 class="panel-title text-center" style="line-height:30px; font-size: 20px; font-weight: 600;">Login</h1>
                             </div>
                             <div class="panel-body">
                              {% for message in messages %}
                               <div class="alert alert-danger">
                                {{message}}
                               </div>
                               {% endfor %}
                                    <form method="POST" name="login">
                                       
                                          {% csrf_token %}
                                            <div class="form-group">
                                               <input type="text" name="username" id="uname" class="form-control" placeholder="Enter Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" id="pass" class="form-control" placeholder="Enter Password">
                                             </div>
                                             <div class="form-group">
                                              <select name="choise" id="choise" class="form-control">
                                                <option>Select login type</option>
                                                   <option value="towing">Towing</option>
                                                   <option value="rental">Rental</option>
                                                   <option value="insurance">Insurance</option>
                                              </select>
                                          </div>
                                            <div class="form-group">
                                               <input type="submit" class="form-control btn btn-success" value="Login">     

                                            </div>
                                            <div class="seperator"><i>or</i></div>
                                            <div class="text-center social-btn">
                                                <a href="{% url 'password_reset'%}" class="btn btn-info btn-block"><i class="">FORGOT PASSWORD</a>
                                                  <br>
                                                <a href="{% url 'register' %}" style="text-decoration: none;" class="btn btn-primary btn-block">Sing up</a>
                                            </div>
                                     </div>
                              </form>
                        </div>
                 </div>
            </div>
         </div>
        </body>
        </html>