{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect dns-prefetch" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
<link rel="preload" as="style" href="{% static 'css/home-style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/home-style.css' %}" type="text/css">
<link rel="preload" as="style" href="{% static 'css/header-footer.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/header-footer.css' %}" type="text/css">
<link rel="preload" as="script" href="{% static 'js/jquery-3-4-1-min.js' %}">
<script src="{% static 'js/jquery-3-4-1-min.js' %}"></script>
<link rel="preload" as="script" href="{% static 'js/customdeveloper.js' %}"> 
 <script src="{% static 'js/customdeveloper.js'%}"></script>
 <script src="{% static 'js/home-script.js' %}"></script>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
    <!-- Css Styles
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css"> -->
    
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    .navbar
    {
      background-color: black;
      border-radius: 0px;
      padding: 30px;
      margin-top: 0px;
      
    }
    nav ul li a{
      font-size: 20px;
      margin-left:100px;
    }
    
   
    
    
    </style>

<body><br>
     
<header id="header">
    
    <div class="mainNvbg">
        <div class="il-container">
            <div class="nav clearfix">
                <div class="mobHumberger"><span></span><span></span><span></span></div>
                
                <!--<div class="mobLogo">
                    <a href="/">image logo</a>
                </div> --> 
                <div class="mobMenuWrapper">
                    <div class="mobWelBlock clearfix">
                        <a href="#" class="menuClose"></a>
                        <div class="welProf">
                            <h4>Welcome</h4>
							<span class="guestIco"></span><span class="menIco" style="display: none;"></span><span class="womIco"></span>
                            <div class="mobloginblock">
                                <div class="mobBeforelogin">
                                    <h5>Welcome Guest!</h5>
                                    <a href="{% url 'login' %}" class="mobloginBt">Login</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <ul class="navBar">
                        <li class="mobPro">
                            <a class="mobProduct" id="Product_link">Products<span class="dwnArrow"></span></a>
                            <span class="_mPdtBack"><span class="dwnArrow"></span>Back</span>
                            <ul class="menuBox rightAln">
                                <li>
                                    <h4><a href="#" id="Motor_Insurance"></a><span class="menupIcons travelInsico"></span>Motor Insurance</h4>
                                    <ul class="insuranceBlock">
                                        <li><a onclick="$('.loader_new').show();" id="Car_Insurance" href="{% url 'c_insurance' %}">Car Insurance</a></li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <h4><a href="#" id="Rental"></a><span class="menupIcons motorInsico"></span>Rental</h4>
                                    <ul class="insuranceBlock">
                                        <li><a onclick="$('.loader_new').show();" id="Car_Rental" href="#">Car Rental</a></li>
                                    
                                        
                                    </ul>
                                </li>
                                <li>
                                    <h4><a href="#" id="Towing"></a><span class="menupIcons helthInsico"></span>Towing</h4>
                                    <ul class="insuranceBlock">
                                        <li><a onclick="$('.loader_new').show();" id="heavy" href="#">Heavy Weight</a></li>
                                        <li><a onclick="$('.loader_new').show();" id="light" href="#">Light Weight</a></li>
                                        <li><a onclick="$('.loader_new').show();" id="other" href="#">Other Vehical</a></li>
                                    </ul>
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            <a>Claims<span class="dwnArrow"></span></a>
                            <ul class="menuBox otherdrMenu">
                                
                                <li><a href="{% url 'c_claim' %}">Motor Claims</a></li>
                               
                            </ul>
                        </li>
                        <li>
                            <a id="Renewals_Link">Renewals<span class="dwnArrow"></span></a>
                            <ul class="menuBox otherdrMenu">
                                <li><a href="{% url 'renew' %}" title="Car Policy" id="Car_Policy">Car Policy</a></li>
                               
                            </ul>
                        </li>
                        <li>
                            <a>Support<span class="dwnArrow"></span></a>
                            <ul class="menuBox otherdrMenu">
                                <li><a href="#">Help Center</a></li> 
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Grievance Redressal</a></li><li class=""><a href="#">Counter Offer Acceptance</a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a>Info Centre<span class="dwnArrow"></span></a>
                            <ul class="menuBox otherdrMenu">
                                <li><a href="#">Info Centre</a></li>
                                <li><a href="#">Expert Blogs</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Tax Benefits</a></li>
                                <li><a href="#">Downloads</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Knowledge Articles</a></li>
                                <li><a href="#">Insurance Updates</a></li>
                            
                            </ul>
                        </li>
                        <li class="no-dropdown">
                            <a href="#">Investor Relations</a>
                        </li>
                    </ul>
                    
                    
                    
                        <!--<div class="logoutSec">
                            <p>Last Log in: <span id="lbllastlogin"></span></p>
                            
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <br>

  
 

  
    
    {% block containt %}

    {% endblock %}
    <br><br>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
</div>

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'images/logo-carousel/Towing.png' %}" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'images/logo-carousel/logo-2.png' %}" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'images/logo-carousel/logo-3.png' %}" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'images/logo-carousel/logo-4.png' %}" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'images/logo-carousel/logo-5.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->

<!-- Footer Section Begin -->
<div class="sf_cols">
    <div class="sf_colsOut " data-placeholder-label="footer">
        <div id="C003_Col00" class="sf_colsIn sf_1col_1in_100"><div class="sfContentBlock"><footer>
        <div class="footerTop quick_links">
            <div class="il-container">
                <div class="row clearfix" style="margin-left: 10px;">
                    <div class="col-md-3">
                        <h4 class="">PRODUCTS</h4>
                        <ul>
                            
                            <li><a href="#">Car Insurance</a></li>
                            <li><a target="_blank" href="#">Third Party Insurance</a></li>
                            <li><a target="_blank" href="#">Towing</a></li>
                            <li><a target="_blank" href="#">Cra Rental</a></li>
                        </ul>
                        <h4 class="">INFO CENTER</h4>
                        <ul>
                            <li><a target="_blank" href="/experts-blogs">Expert Blog</a></li>
                            <li><a target="_blank" href="/insurance-information">Insurance Information</a></li><li><a target="_blank" href="/branches">HASS Branches</a></li>
                        </ul>
                        
                    </div>
                    <div class="col-md-3">
                        <h4 class="">SERVICES</h4>
                        <ul>
                            <li><a href="#">Customer Support</a></li>
                            
                            <li><a target="_blank" href="#" rel="nofollow">Unclaimed Amount</a></li>
                            <li><a target="_blank" href="#" rel="nofollow">Intimate Claim</a></li>
                            <li><a target="_blank" href="#" rel="nofollow">Track Claim</a></li>
                            <li><a target="_blank" onclick="window.open('https://chat.icicilombard.com/Chat/ChatPanel.aspx','targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=670,height=680');" rel="nofollow">Live Chat</a></li>
                            <li><a href="#">Renew Your Policy</a></li>
                            <li><a href="#" v="">Whatsapp Notification</a></li>
                            <li><a target="_blank" href="#" rel="nofollow">Customer Feedback</a></li>
                            <li><a target="_blank" href="#">Contact Us</a></li>
                        </ul>
                        <h4 class="">PMFBY</h4>
                        <ul>
                            <li><a href="/crop-insurance" class="footer-no-hover" target="_blank">
                                <img class="lazy pmfbyLogo loaded" data-src="{% static 'images/pmfby.png' %}" alt="Pradhan Mantri Fasal Bima Yojana" src="{% static 'images/pmfby.png' %}" data-was-processed="true"><p class="pmfbyText">Pradhan Mantri Fasal<br>Bima Yojana</p></a><p class="pmfbyText">Toll free no: 1800 266 9725</p></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>LEGAL</h4>
                        <ul>
                            <li><a target="_blank" href="#" rel="nofollow">Privacy Policy</a></li>
                            <li><a target="_blank" href="#" rel="nofollow">Insure App Privacy Policy</a></li>
                            <li><a target="_blank" href="#" rel="nofollow">Terms &amp; Conditions</a></li>
                            <li><a target="_blank" href="#" rel="nofollow">Disclaimer</a></li>
                            
                            <li><a target="_blank" href="#">HASS Product List </a></li>
                            
                        </ul>
                        <h4>SOCIAL</h4>
                        <div class="social_hover footer_social">
                            <a href="#" target="_blank"><span class="si1"></span></a> 
                            <a href="#" target="_blank"><span class="si2"></span></a> 
                            <a href="#" target="_blank"><span class="si3"></span></a> 
                            <a href="#" target="_blank" title="twitter"><span class="si4"></span></a>
                            <a href="#" target="_blank" title="youtube"><span class="si5"></span></a> 
                            <a href="#" target="_blank"><span class="si6"></span></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>ABOUT US</h4>
                        <ul>
                            <li><a target="_blank" href="#">Overview</a></li>
                            <li><a target="_blank" href="#">Promoters</a></li>
                            
                            <li><a target="_blank" href="#">Risk Management</a></li>
                            <li><a target="_blank" href="#">Public Disclosures</a></li>
                        </ul>
                        <h4>OTHERS</h4>
                        <ul>
                            <li><a href="/agent" target="_blank">Agents Portal</a></li>
                            
                            <li><a target="_blank" href="/careers">Careers</a></li>
                            
                            <li><a target="_blank" href="https://onlinemanager.icicilombard.com/authenticateuser.asp">Online Manager</a></li>
                            <li><a target="_blank" title="Suspended Agents" href="/docs/default-source/other-documents/suspended_agents.pdf?sfvrsn=16">Suspended Agents</a></li>
                            
                            <li><a target="_blank" href="/sitemap">Sitemap</a></li>
                            <li><a target="_blank" href="/IL-Health-Care/COI/COICertificate">Pradhan Mantri Suraksha Bima Yojana</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
    </footer><script>$(document).ready(function(){
$('.sfPublicWrapper').removeClass('sfPublicWrapper');
});</script>

</div>
            
        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/main1.js' %}"></script>

</body>
</html>