
{% extends 'maste.html' %}
{% load static %}
{% block containt %}

    
<div id="head1">
    <img src="{% static 'images/artical.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;margin-top: -0px;">Secure Your Vehicle With MicroDot Theft Deterrent Technology</h1>
    </div>        
<div class="container">
   <div class="row">
       <div>
        <h1 style="color: #053C6D;font-size: 23px;margin-top: 25px;font-weight:700;">
            KNOW HOW MICRODOT ANTI-THEFT TECHNOLOGY CAN TRANSFORM YOUR VEHICLE’S SECURITY
        </h1>
       </div>
       <div class="sfnewsAuthorAndDate sfmetainfo marB15">
        February 28 2020
    </div>
    <div>
        <h1 style="color: #053C6D;font-size: 20px;margin-top: 25px; font-style: italic;">Developed by ‘Recoveri’, MicroDot technology can be highly useful to trace and identify the lost vehicles</h1>
        <img class="img-responsive" title="no-parking" alt="no-parking" src="{% static 'images/micro.png' %}" displaymode="Original" style="margin-top: 10px;">
        <p>Vehicle theft is arguably one of the fastest growing crimes in India. As per a report published by The Hindu, a total number of 44,158 cases of vehicle theft were reported last year in Delhi alone. The report also mentioned that only 19.6 percent of these cases were solved by the police, which means that most of the missing vehicles could not be traced.</p>
        <p>
            According to the experts and police authorities, inadequate parking space in residential areas and the reluctance of vehicle owners to spend too much on anti-theft devices have contributed to this growing menace. While a major portion of these stolen vehicles consisted of bikes and two-wheelers, an increasing number of cars and trucks are also being snitched by the swindlers.</p>
        <p>
            Also, if you live in an urban city which usually has high traffic congestion and very limited parking spaces, it’s important for you to follow some basic car parking tricks such as parallel parking, reverse parking etc. This will not only prevent the chances of your car getting damaged but will also help you avoid unnecessary confrontations. </p>
           
        </div>
 
        


<ul>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">What’s the way out?</h3>
    </li>
    <p>To address this raging issue of vehicle theft in India, many tech companies are coming up with innovative products that can help both, the vehicle owner and the police personnel to trace the automobile after it is stolen.</p>
    <p>For example, a South Africa-based company – Recoveri – has introduced a smart modern technology called ‘MicroDot’ which can be highly useful for identifying and tracing the lost vehicles and other valuables, for that matter.</p>
    
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">What exactly is the ‘MicroDot technology’?</h3>
    </li>
    <p>MicroDot technology is a state-of-the-art identification system that can act as a robust anti-theft security system for vehicles around the world. It involves the diffusion of polyster substrate dots containing the unique information related to the identification of the car or two-wheeler.</p>
    <p>Most of the auto manufacturers have started using this technology to mark the vehicle body with a unique VIN in order to enhance its security. These micro dots can be added to the vehicle even after its purchase, the only difference being the aftermarket system will use the owner’s Personal Identification Number (PIN) rather than the vehicle’s VIN.</p>
    <p>These dots, once spattered uniformly over the vehicle body, are almost impossible to remove completely as they are less than even 1 mm in diameter. It means that in case a vehicle gets lost or stolen, the police authorities can easily trace and identify it by scanning the information stored in these micro dots present on the vehicle body.</p>
    <p>Besides the cars and two-wheelers, ‘MicroDot’ technology can also be used to secure expensive equipment, tools, gadgets, and household items such as mobile phones, laptops, luggage, jewellery etc.</p>
    <p>To increase the penetration of this theft deterrent technology in India, Recoveri is planning to invest 10 million dollars in order to set-up authorised MicroDot fitment centres across the country.</p>
    
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">How will this affect car insurance premiums?</h3>
    </li>
    
    <p>Many insurance companies and Government agencies across the world have tested ‘MicroDot technology’ for its theft deterrent capabilities. As per the estimates, theft rate has come down by as much as 90% after the implementation of this technology, as far as motor vehicles are concerned.</p>
    <p>What this implies is that the technology carries a huge potential to provide cost-saving benefits in form of reduction in car insurance premiums. The insurers usually evaluate the risk associated with each of its customers or vehicle owners to determine the precise premium amount. Based on the overall risk profile of the car owner, a reduction in the premium amount is largely possible.</p>
    <p>Hence, most of the insurance companies are much likely to offer lucrative discounts on motor insurance premium for vehicles equipped with MicroDot technology. At a time when the incidents of vehicular thefts are constantly rising in India, it can be prudent idea to safeguard your vehicle with the use of available technology and in the meantime, also reduce your insurance expenses.</p>
    
    
   
   
</ul>
        </div>
    </div>



{% endblock %}