
{% extends 'maste.html' %}
{% load static %}
{% block containt %}

    
<div id="head1">
    <img src="{% static 'images/artical.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;">Why having a car insurance policy is important?</h1>
    </div>        
<div class="container">
   <div class="row">
       <div>
        <h1 style="color: #053C6D;font-size: 23px;margin-top: 25px;font-weight:700;">
            WHAT ARE THE NEW TRAFFIC FINE RULES & HOW YOU CAN AVOID THEM?
        </h1>
       </div>
       <div class="sfnewsAuthorAndDate sfmetainfo marB15">
        February 28 2020
    </div>
    <div>
        <h1 style="color: #053C6D;font-size: 20px;margin-top: 25px; font-style: italic;">As per the Motor Vehicles (Amendment) Bill 2019, traffic rule violations will now attract very stiff fines and penalties</h1>
        <img class="img-responsive" title="no-parking" alt="no-parking" src="{% static 'images/mobile.png' %}" displaymode="Original" style="margin-top: 10px;">
        <p>In a recent incident at Gurugram, a bike rider was issued a challan of ₹23,000 by Haryana Traffic Police for multiple violations of traffic rules. As this news gained prominence, it left many vehicle owners around the country pondering as to how a trivial offence of traffic violation can attract such a hefty penalty.</p>
        <p>
            As informed by Dinesh Madan, the owner of the two-wheeler, he was fined for not being able to produce a driving license, registration certificate, valid insurance policy, pollution certificate, and riding without a helmet. The penalties were calculated in accordance with the new traffic laws that came into effect after the Rajya Sabha passed Motor Vehicles (Amendment) Bill 2019 on July 31st.</p>
        <p>
            The bill proposed a stiff hike in various penalties for traffic rule violations such as driving without a license, over speeding, driving an uninsured vehicle, disobeying a traffic signal, riding a two-wheeler without a helmet etc. In case you’re not aware of the developments, the list below will help you determine the penalty that you may now have to pay under the new law for traffic rule violations: </p>
           
        </div>
 
        


<ul>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">Driving without a driver's license</h3>
    </li>
    <p>Your driving license (DL) is probably the first thing that the traffic police officer will ask for in case you get pulled over by him/her. Under the new motor vehicle rules, driving an automobile without a valid driving license will attract a penalty of ₹5000 or imprisonment of up to 3 months or both. Earlier, the penalty for this offence used to be ₹500. So, it becomes all the more crucial now to carry your DL along with you whenever you step out on the road with your car or two-wheeler.</p>
     <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">Driving without the Registration Certificate</h3>
    </li>
    <p>The Registration Certificate (RC) of the vehicle is another vital document that you should always carry whilst you’re driving an automobile. In case you’re caught driving a vehicle without the RC, you may have to shed a penalty of ₹5000 now, hiked 10-times from ₹500 earlier.</p>
    <p>Hence, it is needless to say that you must renew your motor insurance on time and carry the policy document whenever you take your vehicle out. A comprehensive vehicle insurance policy will not only help you avoid the hefty penalties and legal hassles but also safeguard you from incurring major financial losses in case your vehicle meets with an unforeseen accident.</p>
    <p>Insurers like ICICI Lombard are offering diverse types of motor insurance products to secure your vehicles against the uncertainties lying ahead. You can even purchase your policy by paying the premium amount online and ensure optimum protection of your esteemed car or two-wheeler.</p>
    
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">Driving without a valid PUC</h3>
    </li>
    
    <p>Under the Central Motor Vehicles Rule of 1989, it is mandatory for every vehicle in India to have a valid Pollution Under Control (PUC) certificate. The PUC certificate is provided to a vehicle after it passes an emission test which checks if the smoke emitted from it is as per the standard pollution regulation or not.</p>
    <p>As per the new amendment, violating air pollution standards or driving a vehicle without a valid PUC certificate will now attract a penalty of ₹10,000, hiked 10-times from ₹1,000 earlier.</p>
    <li>
        <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">Other traffic violations</h3>
        </li>
        <p>Apart from some of the most common traffic violations stated above, the government has also proposed a hike in penalties for many other minor and major traffic-related offences.</p>
        <table class="table blist tblz01 rwd-table" style="color: #415f81;background: #e7ecec;">
            <tbody>
            </tbody>
            <thead>
                <tr>
                    <th><center> Offence</center></th>
                    <th><center>Earlier Penalty</center></th>
                    <th><center>Proposed Penalty</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No seatbelt or helmet </td>
                    <td>₹100</td>
                    <td>₹1,000</td>
                </tr>
                <tr>
                    <td>Blocking emergency vehicles</td>
                    <td>No provision</td>
                    <td>₹1,000</td>
                </tr>
                <tr>
                    <td>Racing or speeding</td>
                    <td>₹500</td>
                    <td>₹5,000</td>
                </tr>
                <tr>
                    <td>Drunk driving </td>
                    <td>₹2000</td>
                    <td>₹10,000</td>
                </tr>
                <tr>
                    <td>Driving a vehicle without permit</td>
                    <td>₹5000</td>
                    <td>₹10,000</td>
                </tr>
                <tr>
                    <td>Dangerous or rash driving </td>
                    <td>₹1000</td>
                    <td>₹5,000</td>
                </tr>
                <tr>
                    <td>Disobeying traffic signals </td>
                    <td>₹1000</td>
                    <td>₹5,000</td>
                </tr>
                <tr>
                    <td>Overloading of vehicle </td>
                    <td>₹2000</td>
                    <td>₹20,000</td>
                </tr>
                <tr>
                    <td>Unauthorised use of vehicles </td>
                    <td>₹1000</td>
                    <td>₹5,000</td>
                </tr>
                <tr>
                    <td>Driving despite disqualification</td>
                    <td>₹500</td>
                    <td>₹10,000</td>
                </tr>
                <tr>
                    <td>Over speeding</td>
                    <td>₹400</td>
                    <td>₹2,000</td>
                </tr>
                <tr>
                    <td>Seizing motor vehicle by force </td>
                    <td>₹500</td>
                    <td>₹5,000</td>
                </tr>
                <tr>
                    <td>Causing obstruction to traffic flow </td>
                    <td>₹50</td>
                    <td>₹500</td>
                </tr>
            </tbody>
        </table>
        <p><strong>Source:</strong><a href="https://economictimes.indiatimes.com/news/economy/policy/new-motor-vehicles-bill-2019-heres-the-complete-list-of-fines-you-will-pay-for-traffic-rule-violations/articleshow/70471748.cms?from=mdr" target="_blank"> The Economic Times;</a><a href="https://www.business-standard.com/article/economy-policy/new-motor-vehicles-bill-2019-penalties-full-list-fines-for-traffic-rules-violation-from-children-driving-drunken-driving-rs-10000-fine-jail-all-you-need-to-know-119080100254_1.html" target="_blank"> Business Standard</a></p>
        <p>While the fines proposed are imperious, it’s aimed at reducing the instances of road accidents in India by compelling the citizens to follow traffic rules with more stringency. The Road and Transport Minister of India, Mr. Nitin Gadkari, clarified that the government’s intention is not to impose heavy penalties on citizens but to bring in road discipline and minimise the loss of lives through accidents.</p>
        <p>All in all, the age-old notion holds true that if you’re carrying the papers and drive by the laws, you can escape not only the hefty penalties but also the loss of time and efforts that come with it.</p>
        
</ul>
   </div>
 </div>



{% endblock %}