{% extends 'maste.html' %}
{% load static %}
{% block containt %}
<style>
    
    body{
        background-color: #003d59;
    }
    input[type=number] {
        height: 45px;
        width: 45px;
        font-size: 25px;
        color: white;
        text-align: center;
        border: 1px solid white;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    h1{
        color:white;
        font-size: 30px;
    
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .btn-orange:hover {
    color: #fff;
}
a.btn-primary {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.8rem 4rem;
    -webkit-border-radius: 3rem;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    font-weight: 600;
}
.btn-orange {
    
    
    display: inline-block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    padding: 1.5rem 4rem;
    font-size: 1.8rem;
    background: #fe6625;

}
  </style>
  <script>
    function getCodeBoxElement(index) {
      return document.getElementById('codeBox' + index);
    }
    function onKeyUpEvent(index, event) {
      const eventCode = event.which || event.keyCode;
      if (getCodeBoxElement(index).value.length === 1) {
        if (index !== 6) {
          getCodeBoxElement(index+ 1).focus();
        } else {
          getCodeBoxElement(index).blur();
          // Submit code
          console.log('submit code ');
        }
      }
      if (eventCode === 8 && index !== 1) {
        getCodeBoxElement(index - 1).focus();
      }
    }
    function onFocusEvent(index) {
      for (item = 1; item < index; item++) {
        const currentElement = getCodeBoxElement(item);
        if (!currentElement.value) {
            currentElement.focus();
            break;
        }
      }
    }
  </script>
</head>
<body>
    <div class="container">
        <div class="row centered-form">
            <div class="col-md-6 col-sm-offset-2 col-md-offset-3">
  <form method="POST">
    {% csrf_token %}
     <p style="color: white;">We have sent an OTP to your registred mobile no. </p>
     

    <h1>Enter OTP</h1>
      <!--<input id="codeBox1" type="number" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)"/>&nbsp;
      <input id="codeBox2" type="number" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)"/>&nbsp;
      <input id="codeBox3" type="number" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)"/>&nbsp;
      <input id="codeBox4" type="number" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)"/>&nbsp;
      <input id="codeBox5" type="number" maxlength="1" onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)"/>&nbsp;
      <input id="codeBox6" type="number" maxlength="1" onkeyup="onKeyUpEvent(6, event)" onfocus="onFocusEvent(6)"/>&nbsp;
      >&nbsp;&nbsp; <a href="javascript:void(0)" class="resend-otp" style="text-decoration: none;color: white;"> Resend OTP</a>
      -->
      <input type="number" name="otp" class="form-control" style="width: 50%;color: black;">     
  
         <a href="{% url 'otp_policy' %}"  ><button class="btn-primary btn-orange js-car-register" style="margin-top: 50px;" method="POST">my policy</button></a>
         <br><br><br><a href="{% url 'renew' %}" style="font-size:large; text-decoration: underline;">You can try with Registration no. or Policy no. instead</a>
  </form>
  </div>
  </div>
  </div>
</body>
{% endblock %}