
{% extends 'maste.html' %}
{% load static %}
{% block containt %}

    
<div id="head1">
    <img src="{% static 'images/artical.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;margin-top: -0px;">Park Your Vehicle Safely With These Car Parking Tips</h1>
    </div>        
<div class="container">
   <div class="row">
       <div>
        <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
            SOME TIPS FOR SAFE PARKING OF YOUR CAR OR TWO-WHEELER
        </h1>
       </div>
       <div class="sfnewsAuthorAndDate sfmetainfo marB15">
        February 28 2020
    </div>
    <div>
        <h1 style="color: #053C6D;font-size: 20px;margin-top: 25px; font-style: italic;">Safe parking of your vehicle is as important as safe driving since a significant percentage of vehicle-related crimes are committed while its parked</h1>
        <img class="img-responsive" title="no-parking" alt="no-parking" src="{% static 'images/no-parking.png' %}" displaymode="Original" style="margin-top: 10px;">
        <p>Vehicle theft has emerged as one of the fastest growing crimes in India. As per the official data, there are almost 100 cases of vehicle theft reported each day in urban areas of the country. And, the figures aren’t much better for the rural areas either. </p>
        <p>
            According to the experts and bureaucrats, the tendency of people to park their vehicles at unauthorised places has contributed greatly to this rising menace. Safe parking of your car or two-wheeler hence plays a very important role in ensuring its overall safety and security.</p>
        <p>
            Also, if you live in an urban city which usually has high traffic congestion and very limited parking spaces, it’s important for you to follow some basic car parking tricks such as parallel parking, reverse parking etc. This will not only prevent the chances of your car getting damaged but will also help you avoid unnecessary confrontations. </p>
            <p>Here are some rudimentary car parking tips and ideas that you should follow to ensure the optimum safety of your vehicle:</p>
        </div>
 
        


<ul>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">Park your vehicle only in dedicated parking spaces</h3>
    </li>
    <p>You should always park your vehicle close to other vehicles and in an area with proper lightening. Besides discouraging criminals who could not get a free passage to break into your vehicle, this will also ensure that you’re able to detect the hindrances such as uneven pavement, potholes, extruded building corners etc. while parking your car.</p>
    
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">Avoid parking your car next to large vehicles</h3>
    </li>
    <p>●While it’s advisable to park your car close to similar sized vehicles as yours, you should refrain yourself from parking it near large vehicles such as pick-up vans, buses, trucks, containers etc. These vehicles can not only obstruct your escape route should you want to drive your car away but will also provide a great hiding place for the potential thieves or attackers trying to break into your car.</p>
    
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">Take extra precautions while parallel parking or reverse parking</h3>
    </li>
    
    <p>Parking a car parallel to other vehicles or a wall can be a challenge even for the most seasoned drivers. Hence, you should take extra care while engaging in parallel or reverse parking to avoid any collision and subsequent damage to your vehicle. Here are some useful parallel parking tips that can help you ou</p>
    <li>● Drive until you find a spot that is big enough for your car to fit in comfortably</li>
    <li>● Use both side mirrors to look for the obstacles and reverse very carefully</li>
    <li>● If your first attempt at parking is unsuccessful, don’t fret! Try another attempt at it with a calm mind</li>
    <li>● After you’ve parked your car, make sure there are adequate gaps between your car and the vehicles parked in front or back of it</li>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">Lock your car properly and do not leave any valuables in it</h3>
    </li>
    
    <p>Though it may seem obvious, it’s quite important that you pull up the window panes and lock your car properly after you’ve parked it. In case of a two-wheeler, you should always lock its handle before leaving it at a parking facility.
    </p>
    <p>Also, it’s never a good idea to leave your precious belongings such as mobile phone, jewellery, laptop etc. in your parked vehicle as it may catch the attention of the swindlers who may try to break into your vehicle.</p>
    <p>While these car parking ideas can help you out in ensuring enough safety of your vehicle, it’s prudent to have an additional layer of protection with a comprehensive car insurance plan. It will cover not only the damages incurred by any third-party but also the ones sustained by your own vehicle in case your car collides with any other object or vehicle while you’re parking it.</p>
    
   
</ul>
        </div>
    </div>
</div>
        


{% endblock %}