{% load static %}
     
    </head>
    <body>
        <div class="container">
                <h1 style="font-size: 20px;font-weight: bold;">Hass Genral Insurance Company Limited</h1>
                <br>
                <h1 style="font-size: 15px;font-weight: bold;">POLICY NO:{{id}}</h1>
                <br>
                <table style="width:100%;" border="2px;">
                    <tr>
                        <th>Insurance Name</th>
                        <td>{{fname}} {{mname}} {{lname}}</td>
                        <th>RTO</th>
                        <td>{{rto}}</td>
                        <th>Registration State:</th>
                        <td>{{stat}}</td>
                        <th>Registration City:</th>
                        <td>{{city}}</td>
                        
                    </tr>
                    <tr>
                        <th>Corr.Address/
                          <br>  Place of Supply</th>
                        <td colspan="5">{{address}},{{ucity}},{{ustate}}</td>
                        <th>Price of Policy:</th>
                        <td>{{price}}</td>
                    </tr>
                    <tr>
                        <th>Mobile No.</th>
                        <td>{{mobile}}</td>
                        <th>Phone No.</th>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <th>Email</th>
                        <td>{{email}}</td>
                        <th>Vehicle Registration No.</th>
                        <td>{{rto}}-{{series}}-{{number}}</td>
                    </tr>
                    <tr>
                        <th>Period of Insurance</th>
                        <td>From Date:</td>
                        <th colspan="2">{{date}} </th>
                        <td>To Date & Time: </td>
                        <th>{{ex_date}}</th>
                        <th>Policy Issuance Date </th>
                        <td>{{date}}</td>
                    </tr>
                    <tr>
                        <th>Make</th>
                        <th>Model - Variant</th>
                        <th>Engine No </th>
                        <th>Chassis No </th>
                        <th>Mfg Yr</th>
                        <th>Seats </th>
                        <th>Fuel Type</th>
                        <th>CC / Watts</th>
                    </tr>
                    <tr>
                        <td>{{make}}</td>
                        <td>{{model}}</td>
                        <td>{{engine}}</td>
                        <td>{{chassis}}</td>
                        <td>{{year}}</td>
                        <td>{{seat}}</td>
                        <td>{{fuel}}</td>
                        <td>{{cc}}</td>
                    </tr>
                      
                </table>
            <br>    
            <p  class="text-center" style="padding: 10px;font-weight: bold;">Premium Details (Rs.)</p>
            <table style="width: 100%;" border="2px">
                <tr>
                    <th colspan="2">Liability Premium</th>
                </tr>
                <tr>
                    <td>Basic Liability:</td>
                    <td><div style="float: right;">752</div></td>
                </tr>
             
                <tr>
                    <td colspan="2">
                        <br><br><br>
                        Sub Total – Addition
                        <div class="right" style="float: right;margin-top: -1px;">
                        752
                       </div>
                      </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br><br><br>
                        Net Liability Premium
                        <div class="right" style="float: right;margin-top: -1px;">
                            752
                           </div> </td>
                    </tr>
                <tr>
                    
                    <th colspan="2">
                        Total Premium</th>
                    <td>
                        <div style="float: right;" >752</div> </td>
                </tr>
            </table>
            <br>
            <table border="1">
                <tr>
                    <td><p style="padding: 10px;font-size: 15px;"><b>LIMITATIONS AS TO USE:</b>The Policy covers use of the vehicle for any purpose other than: a) Hire or Reward b) Organized racing c) Speed testing. Persons or Class of Persons entitled to drive: Any person
                    including the insured, provided that a person driving holds an effective driving license at the time of the accident and is not disqualified from holding or obtaining such a license. Provided also that the person holding an
                    effective learner`s license may also drive the vehicle and that such a person satisfies the requirements of Rule 3 of the Central Motor Vehicles Rules, 1989. Limits of Liability 1. Under Section II-1 (i) of the policy
                    - Death of or bodily injury - Such amount as is necessary to meet the requirements of the Motor Vehicles Act, 1988. 2. Under Section II - 1(ii) of the policy -Damage to Third Party Property- `100000 3. P. A. Cover
                    under Section III for Owner - Driver(CSI): ` 0 Terms, Conditions & Exclusions: As per the Indian Motor Tariff. A personal copy of the same is available free of cost on request & the same is also available at
                    our website</p></td></tr>
                    <tr>
                        <td><p> Branch :KIRAN CHOCK, 6TH FLR, LALGALI - KURLA RD, SURAT, 395006. Phone No. : +91 91068767460</p>
                        </td>
                    </tr>
            </table>
            
    
            <hr style="margin-top: 0px; color:black;" class="new4">
                 </div>
    </body>
    </html>
    