
{% extends 'maste.html' %}
{% load static %}
{% block containt %}
<style>
    .info1 {
    text-align: left;
    font-family: "arial";
    font-size: 16px;
    color: #333;
    margin: 0px;
    padding: 20px 0px 5px;
    text-align: justify;
}
</style>
    
<div id="head1">
    <img src="{% static 'images/agent.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;margin-top: -0px;">Privacy Policy</h1>
    </div>        
<div class="container">
   <div class="row">
       
      
  
<div class="sfContentBlock"><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgwhite">
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        HASS PRIVACY POLICY
    </h1>
    <p class="info1">
    We value you as a customer and respect your right to privacy. In the process of
    operating the website, we may become aware of information relating to you, including
    information that is of a confidential nature. We are strongly committed to protecting
    your privacy online and have taken steps to protect such information. To aid us
    in protecting your privacy, you should maintain secrecy of your login ID and password,
    if any, provided to you in connection with your account with www.icicilombard.com</p>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        COLLECTING YOUR PERSONAL INFORMATION
    </h1>
    <p class="info1">
    HASS may collect the information you provide when you:</p>
    <div class="col-sm-6 col-md-6 col-lg-6 marg">
    <ul class="bullets1">
        <li>●Request information from HASS's website</li>
        <li>● Use online tools and calculators (including voice enabled applications/assistance)</li>
        <li>● Apply online for products</li>
        <li>● Subscribe to online services</li>
    </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 marg">
    <ul class="bullets1">
        <li>● Complete an online form</li>
        <li>● Conduct transactions online</li>
        <li>● Apply for a job online</li>
    </ul>
    </div>
    
   <br> <p class="info1">
   <br><br> We collect contact information such as your name, address, email address and
    other details as given in the registration page of our website. If you purchase
    a policy from us, we will collect financial information such as credit card number
    and expiration date through the payment gateway of the credit card company or the
    internet banking service of your bank. We store this information for our records
    and  to verify authenticity of the same. We also collect information such
    as beneficiary name, address and your relationship to the beneficiary when you buy
    a policy from us. This is required to maintain a record of your beneficiary details
    for your insurance with us.
    <br>
    <br>
    If you choose to use our referral service to tell a friend's about our site, we will
    ask you for your friends name and email address. Your friend will automatically
    be sent a one-time email inviting him or her to visit the website.</p>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        USE OF YOUR PERSONAL INFORMATION
    </h1>
    <p class="info1">
    We will use the information primarily for the following purposes:</p>
    <div class="col-sm-12 col-md-12 col-lg-12 marg">
    <ul class="bullets1">
        <!--<li>By using this website you authorise us to contact you via email
        or phone on your contact details provided above and offer you information and services
        for the product you have opted for. You authorise us to call you for the mentioned
        purpose for a period of up to 30 days irrespective of whether you are registered
        with the NDNC registry.</li>-->
        <li>By using this website and on procuring quotations therein,  you hereby authorize us to contact you via calls, mails and/or text messages on the contact details so provided, to furnish you with information with regards to the services and products of ICICI ICICILombard. This authorization shall be licit for the mentioned purposes irrespective of whether you are registered with the NDNC registry.</li>
        <li>Allow you to access specific account information.</li>
        <li>Providing customisation: We may use the information provided
        by you to customise your visit to the website by displaying appropriate content
        at our judgment and discretion.</li>
        <li>To send you information about products and services offered
        by HASS and its affiliates, to contact you for policy reminder notices,
        claims processing and to keep you updated on the insurance sector and HASS
        through our newsletters. In case you do not wish to receive such information, you
        may unsubscribe through the facility in the email message you receive.</li>
        <li>To contact you for policy reminder notices, claims processing
        and to keep you updated on the insurance sector and HASS through our newsletters.</li>
    </ul>
    </div>
    <div class="clr">
    </div>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        LOG FILES
    </h1>
    <p class="info1">
    As is true of most websites, we gather certain information automatically and store
    it in log files. This information includes internet protocol (IP) addresses, browser
    type, internet service provider (ISP), referring/exit pages, operating system, date/time
    stamp, and clickstream data.<br>
    <br>
    We use this information, which does not identify individual users, to analyse  trends,
    to administer the site, to track user movements around the site and to gather demographic
    information about our user base as a whole.<br>
    <br>
    IP addresses are tied to personally identifiable information to help us customise
    your visit to our website so that you like the experience. However, we would like
    to reiterate that this information is not shared with third parties, for their promotional
    purposes, except as provided under Disclosure of Information clause.</p>
    <p class="info1">
    We store a cookie on your computer when you visit our website. A cookie is a small
    text file that is stored on a user's computer for record-keeping purposes. The primary
    purpose of these cookies is to analyse how users move within our website. Our cookies
    let you view customised pages while transacting with us. Our cookies do not have
    confidential or personally identifiable information. Since  we use session ID cookies,
    they do not track a user after leaving our Website. A session ID cookie expires
    when you close the browser. It is required if you want to buy a policy online from
    us. We also use analytic tools to track visitor traffic on website.<br>
    <br>
    Some of our business partners such as chat support use cookies on our site. We have
    no access to or control over these cookies. This privacy statement covers the use
    of cookies by www.icicilombard.com only and does not cover the use of cookies by
    any third parties</p>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        DISCLOSURE OF INFORMATION
    </h1>
    <p class="info1">
    Subject to the other terms contained herein, we will not disclose your information
    to any third parties or affiliates for their promotional purposes, unless acting
    under a good faith belief that such action is necessary to:</p>
    <div class="col-sm-12 col-md-12 col-lg-12 marg">
    <ul class="bullets1">
        <li>Conform to any statutory or legal requirements or comply with
        legal process or judicial orders</li>
        <li>Protect, enforce and defend our rights or property</li>
        <li>Protect our interests or interests of ICICI Bank Group Companies</li>
    </ul>
    </div>
    <div class="clr">&nbsp;</div>
    <p class="info1">
    We may also use your personal information for the purposes of providing you with
    any services and service-related activities. In this regard, it may be necessary
    to disclose your personal information to one or more service providers (For example,&nbsp;Third
    Party administrators&nbsp; for cashless hospitalisation, National Do Not Call Registry
    for filtering before call related activities) of HASS providing services
    linked to Insurance sector to fulfill your requests.<br>
    <br>
    We reserve the right to exchange, share or provide the information relating to your
    personal and financial details and information with other ICICI Bank Group Companies
    or statutory bodies  as required and you will not hold us and/or any other group
    companies of ICICI Bank Group and their agents liable for use or sharing of the
    information.
    <br>
    <br>
    We obtain your permission to post testimonials which may include your personal information
    prior to posting on this website. If you would like your testimonial removed, please
    contact us at: <a href="mailto:insuranceonline@icicilombard.com">insuranceonline@icicilombard.com</a><br>
    <br>
    We use service providers to fulfil some of the service requests on this site including
    live chat, third party administrators for cashless claims and health check-up and
    motor surveyors for vehicle inspection. We do not share or sell your personal information
    to third parties. These service providers are not allowed to use your information
    for their promotional purposes.</p>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        UPDATING YOUR PERSONAL INFORMATION
    </h1>
    <p class="info1">
    If you need to update your personal information or there is any change in the personal
    information, or if you no longer desire our service, you may update or delete it
    by making the change on our registration page or by emailing our website team at
    <a href="mailto:insuranceonline@icicilombard.com">insuranceonline@icicilombard.com</a> or by contacting us by telephone or postal mail  at the contact information listed below.</p>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        SECURITY
    </h1>
    <p class="info1">
    The security of your personal information is important to us. When you enter sensitive
    information such as credit card number on our registration or order forms, we encrypt
    that information using secure socket layer technology (SSL). To learn more about
    SSL, follow this link <a href="http://wp.netscape.com/eng/ssl3/" target="_blank">http://wp.netscape.com/eng/ssl3/</a><br>
    <br>
    We follow generally accepted industry standards to protect the personal information
    submitted to us, both during transmission and once we receive it. No method of transmission
    over the internet, or method of electronic storage, is 100% secure, however. Therefore,
    while we strive to use commercially acceptable means to protect your personal information,
    we do not guarantee its absolute security.</p>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        LINKS TO OTHER SITES
    </h1>
    <p class="info1">
    The website may contain links to other sites and/or portals on the internet. While
    we intend to link only to such sites that share our high standards and respect for
    privacy, we are not responsible for the content or the privacy practices employed
    by such other sites.<br>
    <br>
    Please be aware that websites that have links from our site may collect personally
    identifiable information about you. This privacy statement does not cover the information
    and disclosure practices of those websites. When you leave our site, please read
    the privacy statements of each and every Website that collects personally identifiable
    information.</p>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        CHANGES IN THIS PRIVACY STATEMENT
    </h1>
    <p class="info1">
    We reserve the right to modify this privacy statement at any time by posting the
    same on the website, so please review it frequently on the website. If we materially
    change our privacy practices we will notify you by sending an email or by posting
    a notice on our website.</p>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        BUSINESS TRANSITIONS
    </h1>
    <p class="info1">
    In the event HASS General Insurance Company Ltd. goes through a business
    transition, such as a merger, acquisition by another company, or sale of all or
    a portion of its assets, your personally identifiable information will likely be
    among the assets transferred. You will be notified [via email] [prominent notice
    on our website for 30 days] of any such change in ownership or control of your
    personal information.</p>
    <h1 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">
        CONTACT US

    </h1>
    <p class="info1">
    <br>
    If you have any questions or suggestions regarding our privacy policy, please contact
    us at:<br>
    <br>
    The Website team<br>
    HASS General Insurance Company,<br>
    HASS House, 414, Veer Savarkar Marg,<br>
    Near Siddhi Vinayak Temple,<br>
    Prabhadevi, surat - 395006.<br>
    Email: <a href="mailto:himaybharoliyta50366@gmail.com">himaybharoliyta50366@gmail.com</a></p>
    </div>
    
    </div>
        
</div>
</div>

{% endblock %}