{% extends 'maste.html' %}
{% load static %}
{% block containt %}
<div id="head1">
    <img src="{% static 'images/promotor.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;margin-top: 0px;">Promoters</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>ICICI Bank</h3>
            <p>ICICI Bank is India's second-largest bank. ICICI Bank offers a wide range of banking products and financial services to corporate and retail customers through a variety of delivery channels and through its specialised subsidiaries and affiliates in the areas of investment banking, life and non-life insurance, venture capital and asset management. The Bank currently has subsidiaries in the United Kingdom and Canada, branches in United States, Singapore, Bahrain, Hong Kong, Sri Lanka, Qatar and Dubai International Finance Centre and representative offices in United Arab Emirates, China, South Africa, Bangladesh, Thailand, Malaysia and Indonesia. Our UK subsidiary has established branches in Belgium and Germany. </p>
            <p>ICICI Bank's equity shares are listed in India on Bombay Stock Exchange (BSE) and the National Stock Exchange of India Limited (NSE) and its American Depositary Receipts (ADRs) are listed on the New York Stock Exchange (NYSE).</p>
            </div>
            </div>
    </div>
{% endblock %}