
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<style>
    
       .container
       {
           margin-top: 30px;
           margin-left: 30px;;
       } 
      .panel-body{
            color: #999;
            border-radius: 3px;
            margin-bottom:auto;
            background: #f2f3f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;

        }

</style>

<script>
    
$(document).ready(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"

  $("form[name='register']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      fname: "required",
      lname: "required",
      mname:"required",
      mobile:{
          required: true,
          minlength:10,
          maxlength:10,
          remote:{
            url:"{% url 'mobile_valid' %}"
          }
      },
      email: {
        required: true,
        // Specify that email should be validated
        // by the built-in "email" rule
        email: true,
        remote:{
          url:"{% url 'email_valid' %}"
        }
      },
      pass: {
        required: true,
        minlength: 5,
        maxlength:8
      },
      cpass:{
            required:true,
            minlength:5,
            equalTo:"#pass"
      },
      dob:{
          required:true
      },
      address:"required"
    },
    // Specify validation error messages
    messages: {
      fname: "Please enter your firstname",
      lname: "Please enter your lastname",
      mname:"Please enter your middlename",
      mobile:{
        required:"Please enter your mobile number",
        minlength:"Your mobile number must be 10 characters long",
        maxlength:"Plese enter valid mobile number"
      },
      dob:"Please enter your date of birth",
      pass: {
        required: "Please provide a password",
        minlength: "Your password must be at least 5 characters long"
      },
      cpass:{
          required:"Plese provide conform password",
          minlength: "Your conform password must be at least 5 characters long"

      },
      address:"please enter address",
      email: "Please enter a valid email address"
    },
    // Make sure the form is submitted to the destination defined

    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
       form.submit();
    }

	
  });

	$("form input").focusout(function () {
        $(this).valid();
    });

});
 
$(document).ready(function(){
    $("#states").change(function(){
            var state=$("#states").val();
            
            $.ajax({

                url:"{% url 'get_city' %}",
                data:{
                    'state':state
                },
                //dataType:'json',
                success:function(data){
                    
                    $('#city').empty();
                    for (var i=0;i<data.length;i++){
                        
                        var c=data[i].city_name;
                        $('#city').append(`<option value="${c}">${c}</option>`)
                    }
                    
                }
        })
    });
});
 /* function check()
  {
      console.log('hello');
      var password=document.getElementById('pass').value;
      var spassword=document.getElementById('cpass').value;
      var mno=document.getElementById('mobile').value;
      var f_name=document.getElementById('fname').value;
      var mnoexp=/^[0-9]{10}$/;
      var alphexp=/^[a-zA-Z]+$/;
      if(password!=spassword)
      {
          alert('Password Missmetch');
          return false;
      }
      else if(!mno.match(mnoexp))
      {
          alert('Enter Valid Mobile Number');
          return false;
      }
      else if(!f_name.match(alphexp))
      {
          alert('Only Alpha Allow');
          return false;
      }
      else
      {
          return true;
      }
      
      
  };*/
  
</script>  
</head>
<body>
    
    <div class="container">
        <div class="row centered-form">
            <div class="col-md-6 col-sm-offset-2 col-md-offset-4">
                
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color: red;"></li>
                              <li data-target="#myCarousel" data-slide-to="1" style="background-color: red;"></li>
                              <li data-target="#myCarousel" data-slide-to="2" style="background-color: red;"></li>
                            </ol>
                        
                            
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="{% static 'images/banner.jpg' %}" alt="" style="width:100%; height: 200px;">
                              </div>
                        
                              <div class="item">
                                <img src="{% static 'images/carproductbg.jpg' %}" alt="" style="width:100%;height: 200px;">
                              </div>
                            
                              <div class="item">
                                <img src="{% static 'images/PushtiBanner4.jpg' %}" alt="" style="width:100%;height: 200px;">
                              </div>
                            </div>
                          </div>
                             </div>
                             <div class="panel-body">
                                    <form method="post" name="register">
                                      {% csrf_token %}
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <div class="form-group">
                                                        
                                                        <input type="text" name="fname" id="fname"  size="32" class="form-control input-sm" placeholder="First Name" required>
                                                        <span id='first' class="text-danger font-weight-bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <input type="text" name="mname" id="middle" class="form-control input-sm" placeholder="Middel Name" required>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <input type="text" name="lname" id="lname" class="form-control input-sm" placeholder="Last Name" required>
                                                </div>
                                            </div>
                                        </div>
                                          
                                            <div class="form-group">
                                               <input type="number" name="mobile" id="mobile" class="form-control" placeholder="Enter Mobile Number" required>
                                            </div>
                                            <div class="form-group">        
                                                <input type="date" name="dob" id="dob" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="radio-inline"><input type="radio" name="gen" id="gender" value="Male" checked>Male</label>
                                                <label class="radio-inline"><input type="radio" name="gen"  id="gender" value="Female">Female</label>
                                            </div>
                                            <div class="row">
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <select name="states" id="states" class="form-control">
                                                          <option value="">select state</option>
                                                          {% for state in states %}
                                                          <option value="{{state.city_state}}">{{state.city_state}}</option>
                                                          {% endfor %}
                                                      </select>
                                                       </select>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                    
                                                      <select name="city" id="city" class="form-control">
                                                          <option value="">select city</option>
                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                            
                                             <!--<div class="form-group">
                                                <select name="choice" id="choice" class="form-control">
                                                     <option>Select Choice</option>
                                                     <option value="towing">Towing</option>
                                                     <option value="rental">Rental</option>
                                                     <option value="insurance">Insurance</option>
                                                </select>
                                            </div>-->
                                            <div class="form-group">
                                                <textarea name="address" id="address" cols="30" rows="5" class="form-control" placeholder="Address" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email Address">
                                            </div>
                                            <div class="form-group">
                                              <input type="password" name="pass" id="pass" class="form-control" placeholder="Enter Password" required>
                                            </div>
                                            <div class="form-group">
                                               <input type="password" name="cpass" id="cpass" class="form-control" placeholder="enter conform Password" required>
                                            </div>
                                            
                                              <input type="submit" class="form-control btn btn-success">   
                                            <br> <center><a href="{% url 'login' %}" style="text-decoration: none;">Already have an account?</a></center> 
                                     </form>
                                     
                            </div>
                              
                        </div>
                 </div>
            </div>
         </div>
        </body>
      </html>