{% extends 'maste.html' %}
{% load static %}
{% block containt %}
<style>
      .info1 {
    text-align: left;
    font-family: "arial";
    font-size: 16px;
    color: #333;
    margin: 0px;
    padding: 20px 0px 5px;
    text-align: justify;
}
.thead {
    font-family: "arial";
    font-size: 30px;
    color: #053C6D;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px 0px 10px;
    margin: 0px;
}
.subhead {
    font-family: "arial";
    font-size: 20px;
    color: #053C6D;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 0 0;
    margin: 0;
}
</style>
<div id="head1">
    <img src="{% static 'images/agent.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;margin-top: -0px;">Terms & Conditions</h1>
    </div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgwhite">
            <h2 class="thead">
            GENERAL TERMS &amp; CONDITIONS</h2>
            <p class="info1">
            HASS GENERAL INSURANCE COMPANY LIMITED (HASS) <br>
            Registered Office: HASS House,<br>
            414, Veer Savarkar Marg, Near Siddhivinayak Temple,<br>
            Prabhadevi,Mumbai- 400 025 <br>
            Reg No.11-129408<br>
            Date of Incorporation October 30th 2000 <br>
            Registered with IRDA as General Insurance Company Regn. No. 115.<br>
            TERMS AND CONDITIONS GOVERNING THE USE OF HASS'S Website BY VISITORS,<br>
            CUSTOMERS AND REGISTERED USERS(AS DEFINED HEREIN).<br>
            Copyright (c) HASS General Insurance Company Limited.
            All rights reserved.
            </p>
            <h2 class="subhead">
            GENERAL</h2>
            <p class="info1">
            Definitions</p>
            <p class="info1">
            In this document the following words and phrases have the meanings set opposite
            them unless the context indicates otherwise: <br>
            <br>
            <strong>Affiliate of HASS </strong>shall mean
            and include:</p>
            <strong><strong>
            <div class="col-sm-12 col-md-12 col-lg-12 marg">
            <ul class="bullets1">
                <li>● ICICI Bank Limited; or</li>
                <li>● any company which is the holding or subsidiary company of ICICI Bank Limited; or</li>
                <li>● a person under the control of or under common control with ICICI Bank Limited; or</li>
                <li>● any person, in which HASS has a direct or beneficial interest or control
                in 26% or more of the voting securities of such person.</li>
            </ul>
            </div>
            <div class="clr">
            </div>
            </strong></strong>
            <p class="info1">
            For the purpose of this definition of Affiliate, "control" together with grammatical
            variations when used with respect to any Person, means the power to direct the management
            and policies of such Person, directly or indirectly, whether through the ownership
            of the vote carrying securities, by contract or otherwise howsoever; and "Person"
            means a company, corporation, a partnership, trust or any other entity or organisation
            or other body whatsoever.
            </p>
            <p class="info1">
            <span class="spnHeading1">
            Advisor</span>
            &nbsp;means a general insurance agent for HASS who has passed the regulatory
            requirements for being an Advisor as prescribed by the Insurance Regulatory and
            Development Authority.<br>
            <br>
            <span class="spnHeading1">
            Bank Account</span>
            &nbsp;refers to the Customer's account with ICICI Bank/or any other bank acceptable
            to the Company ("Approved Bank"), which may either be a current account, savings
            account, fixed deposit, term deposit or any other account facilities that ICICI
            Bank/ Approved Bank may offer from time to time.<br>
            <br>
            <span class="spnHeading1">
            Call Centre</span>
            &nbsp;means the call centre set up by HASS to assist Customers of ICICI
            Lombard with respect to various transactions and to furnish information etc.<br>
            <br>
            <span class="spnHeading1">
            Customer</span>
            &nbsp;means a Policyholder accessing the Website for obtaining information on ICICI
            Lombard's general insurance products, including access to all facilities that are
            or may be provided / offered to the Visitors, Customers and Registered Users from
            time to time on the ​Website.<br>
            <br>
            <span class="spnHeading1">
            Customer Password</span>
            &nbsp;means the password or other means of authentication as HASS may specify
            from time to time provided to/required to be provided to the Customer, and using
            which the Customer may authorise transactions which shall include but shall not
            be limited to downloadable request for proposal and claim forms for various general
            insurance products that are offered by HASS, etc. HASS may decide
            to permit other transactions or to discontinue existing transactions from time to
            time, further details of which shall be provided on the​ Website.<br>
            <br>
            <span class="spnHeading1">
            ICICI Bank</span>
            &nbsp;means ICICI Bank Limited, a company incorporated under the Companies Act,
            1956 and having its registered office at Landmark, Race Course Circle, Vadodara
            390 007. The term shall include the successors and assigns of ICICI Bank.<br>
            <br>
            <span class="spnHeading1">
            HASS / We</span>
            &nbsp;means HASS General Insurance Company Limited, a company incorporated
            under the Companies Act, 1956 and licensed under and in terms of the Insurance Act,
            1938 and the Insurance Regulatory and Development Authority Act, 1999 to carry out
            the business of general insurance and having its registered office at ICICI Bank
            Towers, Bandra Kurla Complex, Mumbai 400 051. The term shall include the successors
            and/or assigns of HASS.<br>
            <br>
            <span class="spnHeading1">
            Policy</span>
            &nbsp;means the various general insurance policies that HASS may introduce
            from time to time.<br>
            <br>
            <span class="spnHeading1">
            Policyholder</span>
            &nbsp;means a person who purchases a Policy from HASS.<br>
            <br>
            <span class="spnHeading1">
            Terms or Terms and Conditions</span>
            &nbsp;means the terms and conditions for use of the ​Website, as specified herein,
            by Visitors and Customers.<br>
            <br>
            <span class="spnHeading1">
            Transaction Password</span>
            &nbsp;means the password, or other means of authentication as HASS may
            specify from time to time, that is provided by HASS to the Customer upon
            provision of which, the Customer would be able to authorise transactions specified
            by HASS from time to time, further details of which shall be provided on
            the ​Website.<br>
            <br>
            <span class="spnHeading1">
            Visitor</span>
            &nbsp;means any person having access to the Website for general information about
            HASS and its products and other facilities offered from time to time on
            the Website.<br>
            <br>
            <span class="spnHeading1">Website</span>
            &nbsp;means the portal located at the URL www.icicilombard.com<br>
            <br>
            <span class="spnHeading1">
            You/Your</span>
            &nbsp;means the Visitor or Customer, as may be applicable.<br>
            In this document, all references to the Visitor or Customer in masculine gender
            shall be deemed to include the feminine gender and singular includes plural and
            vice versa and the word "includes" should to be construed as "without limitation".<br>
            <br>
            <span class="spnHeading1">
            Applicability of Terms</span>
            <br>
            These Terms and Conditions, in so far as they refer to the Visitor and Customer,
            form the contract and agreement between such Visitor/Customer and HASS
            unconditionally.<br>
            <br>
            <span class="spnHeading1">
            Right to Alter The Services</span>
            <br>
            HASS reserves the right to add, amend, revise suspend or cancel in whole
            or in part any of the services which are, or may become, part of the Website, without
            any prior notice to the Visitors or Customers. Any addition, suspension, revision,
            amendment, cancellation or suspension shall be effective and binding on the Visitors
            and Customers. HASS may introduce new services in relation to the Website
            from time to time. The existence and availability of the new services will be notified
            on the Website as and when they become available and any revisions in the Terms
            and Conditions will take place in accordance with these Terms and Conditions.</p>
            <h2 class="thead">
            TERMS OF USAGE OF THE SITE WITH REFERENCE TO THE VISITORS</h2>
            <h2 class="subhead">
            Acceptance of the Terms</h2>
            <p class="info1">
            By accessing the Website, the Visitor acknowledges and accepts these Terms and
            Conditions.</p>
            <h2 class="subhead">
            Consulting Services</h2>
            <p class="info1">
            The availability of the information and guidance as part the Website does not constitute
            a recommendation by HASS, to buy any policies etc. discussed therein by
            HASS or any of their personnel. Any decisions will be based solely on the
            Visitor's own evaluation of the policies / products of HASS, and his/her
            need for the same. While adequate care would be taken to ensure completeness, accuracy
            etc. of the information/services provided, neither HASS nor any of their
            personnel shall in any circumstance be liable for any loss or damage caused by a
            Visitor's reliance on information obtained through the Website. It is the sole
            responsibility of the Visitor to evaluate the completeness, accuracy or usefulness
            of any opinion, guidance or other content made available on the Website and the
            Visitor should consult his/its own legal counsel, business Advisor and tax Advisor
            as to the legal, business, tax and related matters concerning any policies with
            respect to which guidance is sought or given.</p>
            <h2 class="subhead">
            Representation By User</h2>
            <p class="info1">
            The Visitor to the Website represents that the Visitor is legally competent to enter
            into a binding legal contract and agrees to be bound by the terms and conditions
            of the use.</p>
            <h2 class="thead">
            TERMS OF USAGE OF THE SITE WITH REFERENCE TO THE CUSTOMERS</h2>
            <h2 class="subhead">
            Customer Password and Transaction Password</h2>
            <p class="info1">
            In the event that HASS has, or may from time to time, introduce or offer
            certain services on the Website which require authentication procedures, the Customer
            would be able to access such services by using the Customer ID and the Customer
            Password. By using the Customer ID and the Customer Password the Customer can authorise
            the transactions. The Customer may be provided a Transaction Password, which would
            enable the Customer to carry out such transactions as may be specified from time
            to time. The Customer would not be able to carry out the transactions without the
            use of the Transaction Password. The terms governing the Customer ID, Customer Password
            and Transaction Password are as follows.<br>
            <br>
            Subject to the Terms, HASS shall take reasonable care to ensure the security
            of and to prevent unauthorized access to the services, which are part of the Website using technology reasonably available to HASS.
            <br>
            <br>
            The Customer confirms and agrees that he will be the sole and exclusive owner and
            is the only authorised user of the Customer ID and the Customer and/or Transaction
            Passwords and accepts sole responsibility for use, confidentiality and protection
            of the Customer ID and the Customer and/or Transaction Passwords as well as for
            all transactions authorised by such password/s and shall ensure that the password/s
            is/are not revealed to any third party or recorded in any written or electronic
            form.
            <br>
            <br>
            If the Customer forgets /loses the Customer ID or the Customer /Transaction Password,
            or is otherwise desirous of a change in the said Passwords can request for change
            of the password by sending a written request to HASS at the address or
            notify the indicated telephone number of the Call Centre. On the receipt of such
            a request HASS shall discontinue the use of the old Customer and/or Transaction
            Password(s) and shall generate a new password for the Customer, which shall be communicated
            to the Customer or require the Customer to procure a fresh means of authentication,
            details of which will be communicated by the Customer to us. However, the Customer
            shall be responsible and liable for all transactions that are carried out by the
            use of the Customer ID or the Customer/ Transaction Password, as the case may be,
            till the time of discontinuation of the old ID or password.
            <br>
            <br>
            Any transaction authorised by using the Customer ID and Customer / Transaction Password
            is deemed to be that of the Customer and HASS is not responsible for any
            mistake / error made by the Customer as to the nature of the transaction. If third
            parties gain access to the services offered through the use of the Customer ID and
            Customer /Transaction Password, the Customer shall be deemed to be responsible and
            the Customer hereby indemnifies and holds harmless HASS against any liability,
            costs or damages arising out of claims or suits by or against such third parties
            based upon or relating to such access and use. The Customer shall be responsible
            for providing and maintaining the communications equipment (including personal computers
            and modems) and telephone or alternative services required at the Customer's end
            for accessing and using the Website or related services, and for all communications
            service fees and charges incurred by the Customer in accessing the Website or related
            services. It is the Customer's responsibility to ensure that no unauthorised person
            has access to its computer unattended whilst accessing the Website.
            <br>
            <br>
            HASS would be entitled, at its sole discretion, to seek offline written
            or other confirmation from the Customer of any transaction as it may deem fit.
            <br>
            <br>
            The Customer shall immediately notify HASS in writing, delivered via email
            and/or Registered AD, or notify through the indicated telephone number of the Call
            Centre on the Customer becoming aware of any loss, theft or unauthorised use of
            the Customer ID and/or Customer /Transaction Password; or any receipt by the Customer
            of confirmation of any transaction which the Customer did not authorise; or any
            inaccurate information in the Customer's account balances, securities positions,
            or transaction history. If the Customer fails to notify HASS immediately
            upon the Customer's knowledge when any of the above conditions occur, neither ICICI
            Lombard nor any of their officers, directors, employees, Advisors, Affiliates or
            subsidiaries can or will have any responsibility or liability to the Customer or
            to any other person whose claim may arise through the Customer with respect to any
            of the circumstances described above. Under no circumstances shall HASS
            or anyone involved in creating, producing, delivering or managing the services which
            are part of the Website be liable for any direct, indirect, incidental, special
            or consequential damages that result from the use of or inability to use the services,
            or out of any breach of any warranty.
            <br>
            <br>
            In the event that the certifying authorities and other infrastructure contemplated
            under the Information Technology Act, 2000, for ensuring secure electronic records
            and secure digital signatures is notified by the concerned authorities and the infrastructure
            to enable the same is in place, HASS would have the right to require the
            Customers to authorise use, operate or otherwise authorise, the transactions by
            means of digital signatures or other means of authentication as HASS may
            require and/or discontinue the usage of the Customer Password and the Transaction
            Password.
            <br>
            <br>
            Subject to the Terms and Conditions, HASS shall take reasonable care to
            ensure the security of and to prevent unauthorized access to the services, which
            are being provided through the Website using technology reasonably available to
            HASS.</p>
            <h2 class="subhead">
            Authority to HASS</h2>
            <p class="info1">
            The Customer irrevocably and unconditionally authorises HASS to carry out
            his instructions, effecting such transactions as may be permitted by HASS
            from time to time, in accordance with these Terms and such other terms as may be
            specified by HASS. Certain transactions would be effected only after the
            Customer authorises it by using the Customer/Transaction Password and HASS
            shall have no obligation to verify the authenticity of any such duly authorised
            transaction.Â</p>
            <h2 class="subhead">
            Evidence Of Transactions</h2>
            <p class="info1">
            In respect of any transactions which may be permitted by HASS from time
            to time, HASS's own records of such transactions, maintained through computer
            systems or otherwise, shall be accepted as conclusive and binding for all purposes.
            More particularly, the record of HASS generated by the transaction(s),
            including the recording of the time of the transaction(s), shall be conclusive proof
            of the genuineness and accuracy of such transactions.</p>
            <h2 class="subhead">
            Legal Disclaimer</h2>
            <p class="info1">
            The Website is maintained by HASS and your use of the Website is subject
            to the Terms and Conditions and all applicable Indian laws. This Website is offered
            to you on the condition that you accept the Terms and Conditions contained herein,
            without modification or reservation of any of the terms, conditions and notices
            contained herein and by accessing and browsing this Website, you accept, without
            limitation or qualification, the Terms and Conditions and acknowledge that any other
            agreement between you and HASS are superseded and of no force or effect.
            This Website may contain links to other websites, web-pages and services also operated
            by HASS and / or its Affiliates (the "ICICI Sites"), and your use of each
            ICICI Site is also subject to the Terms and Conditions and other terms and guidelines,
            if any, contained within each such ICICI Site. In the event that any of the terms,
            conditions, and notices contained herein conflict with the Terms and Conditions
            or other terms and guidelines contained within any particular ICICI Site, then the
            Terms and Conditions and other terms and guidelines for such ICICI Site shall prevail.
            You hereby agree and confirm that you shall click on the links to, and familiarize
            yourself with the terms and conditions and other terms and guidelines found throughout
            this Website and the ICICI Sites and abide by them if you choose to use the sites,
            pages or services to which they apply.You should assume that everything you see
            or read on the Website (including but not limited to directories, guides, news articles,
            opinions, reviews, text, photographs, images, illustrations, profiles, audio clips,
            video clips, trademarks, service marks and the like, (collectively "the Content")
            is copyrighted/ protected by intellectual property laws unless otherwise noted and
            may not be used except as provided in these Terms and Conditions or in the text
            on the Website without the prior written permission of HASS. HASS
            neither warrants nor represents that your use of materials displayed on the Website
            will not infringe patent, copyright or any intellectual property rights or any other
            rights of third parties not owned by or affiliated with HASS. The disclaimer
            as set forth herein is in addition to the legal disclaimer as specified in the Website
            www.icicilombard.com.</p>
            <h2 class="subhead">
            Terms and Conditions of Use</h2>
            <p class="info1">
            The Website is deemed to be in use when it is loaded in temporary or permanent memory
            of your computer.</p>
            <h2 class="subhead">
            Restrictions on Use</h2>
            <p class="info1">
            You agree to use the Website strictly for your personal use. You agree not to use
            this Website for any illegal purpose or in any manner inconsistent with these Terms
            and Conditions. You agree not to use, transfer, distribute or dispose of any information
            contained in the Website in any manner that could compete with the business of
            HASS or otherwise compromise or imperil the interests of HASS.
            You acknowledge that the Website has been developed, compiled, prepared, revised,
            selected and arranged by HASS and others (including certain other information
            sources) through the application of methods and standards of judgement developed
            and applied through the expenditure of substantial time, effort and money and constitutes
            valuable intellectual property and may also include trade secrets of HASS
            and such others. You agree to protect the proprietary rights of HASS and
            all others having rights in the Website or its content during and after the term
            of this agreement and to comply with all reasonable written requests made by ICICI
            Lombard or its suppliers of content, equipment or otherwise to protect their and
            others' contractual, statutory and common law rights in the Website. You agree
            to notify HASS in writing promptly upon becoming aware of any unauthorized
            access or use of the Website by any party or of any claim that the Website infringes
            upon any copyright, trademark or other contractual, statutory or common law rights.
            You may download and retrieve data from the Website on your computer screen, print
            individual pages on paper, photocopy and store such pages in an electronic form
            on disk (but not on any server or other storage device connected to a network) for
            your exclusive personal use only. You further acknowledge that all the intellectual
            property in the Website continues to vest with us.
            <br>
            <br>
            Reverse engineer, decompile, disassemble, copy, reproduce, distribute, modify, transmit,
            perform, reproduce, publish or create derivative works from or in any way exploit
            any of the services or content in violation of the Terms and Conditions or the laws
            of any country.
            <br>
            <br>
            Create a database in electronic or structured manual form by systematically downloading
            and storing all or any part of the Website save and except such information as
            relates to your Policy, if you are a Customer.
            <br>
            <br>
            Rent, lease, sell, sublicense, or lend your access to the Website.
            <br>
            <br>
            Cache or permit caching by any person.
            <br>
            <br>
            Do any act that violates our intellectual property in the Website.
            <br>
            <br>
            Engage in any fraudulent, abusive or illegal activity, including but not limited
            to any communication or solicitation designed or intended to fraudulently obtain
            the password or any private information of any use.
            <br>
            <br>
            Use the Website to violate the security of any computer network, crack pass words
            or security encryption codes, transfer or store illegal material including threatening
            or obscene material or engage in any kind of illegal activity.
            <br>
            <br>
            Run mail list or any form of auto-responder, or spam on the Web Site or any processes
            that are run or are activated while you are not logged on.
            <br>
            <br>
            Although HASS may, from time to time, monitor or review any facilities,
            if established or otherwise offered at the Website for discussions, chats, postings,
            transmissions, bulletin boards, and the like on the Website, HASS is under
            no obligation to do so and assumes no responsibility or liability arising from the
            content of any such locations nor for any error, defamation, libel, slander, omission,
            falsehood, obscenity, pornography, profanity, danger, or inaccuracy contained in
            any information contained within such locations on the Website. You are prohibited
            from posting or transmitting any unlawful, threatening, libelous, defamatory, obscene,
            scandalous, inflammatory, pornographic, or profane material or any material that
            could constitute or encourage conduct that would be considered a criminal offense,
            give rise to civil liability, or otherwise violate any law. HASS will fully
            cooperate with any law enforcement authorities or court order requesting or directing
            HASS to disclose the identity of anyone posting any such information or
            materials.</p>
            <h2 class="subhead">
            Access restriction</h2>
            <p class="info1">
            We reserve the right to deny to you, at our sole discretion, access to the Website,
            including any portion thereof, without any prior notice.</p>
            <h2 class="subhead">
            Intellectual Property</h2>
            <p class="info1">
            We grant you the right to access this Website in accordance with these terms and
            conditions, and for no other purpose. Please note that the services and content
            on the Website, including but not limited to text, content, photographs, video,
            audio and graphics, are either the property of, or used with permission by, ICICI
            Lombard and/or by HASS's suppliers and may be protected by applicable copyrights,
            trademarks, service marks, international treaties and/or other proprietary rights
            and laws of India and other countries.The trademarks, logos, slogans and service
            marks (collectively the "Trademarks") displayed on the Website, are registered
            and unregistered Trademarks of HASS and others. Nothing contained on the Website should be construed as granting, by implication, estoppel, or otherwise,
            any license or right to use any Trademark displayed on the Website without the
            written permission of HASS or such third party that may own the Trademarks
            displayed on the Website. Your misuse of the Trademarks displayed on the Website,
            or any other content on the Website, except as provided in these Terms and Conditions,
            is strictly prohibited. You are also advised that HASS will aggressively
            enforce its intellectual property rights to the fullest extent of the law, including
            the seeking of criminal prosecution.We shall be entitled to obtain equitable relief
            (including all damage, direct, indirect, consequential and exemplary), over and
            above all other remedies available to us, to protect our interests therein.</p>
            <h2 class="subhead">
            Links to third party Websites</h2>
            <p class="info1">
            This Website may contain links to websites operated by parties other than us. These
            links in this Website will let you leave www.icicilombard.com. Such links are provided
            for your convenience only and HASS does not control such websites, and
            is not responsible for their content. Your use of such websites is also subject
            to the terms of use and other terms and guidelines, if any, contained within each
            such Website. In the event that any of the terms contained herein conflict with
            the terms of use or other terms and guidelines contained within any such Website,
            then the terms of use and other terms and guidelines for such Website shall prevail. You
            agree to click on the links to, and familiarize with, the terms of use and other
            terms found in the sites to which this Website has links to, and abide by them.<br>
            <br>
            The linked websites are not under our control and we are not responsible for the
            contents of any such linked Website or any link contained in a linked Website, advertisements
            appearing in or products offered by or any changes or updates to such websites.
            We are providing these links to you only as a convenience, and the inclusion of
            any link does not imply endorsement by us of the linked Website.
            </p>
            <h2 class="subhead">
            Software Available on the Web Site</h2>
            <p class="info1">
            Software or information (if any) that is made available to download from this Website ("Software") is the copyrighted work of HASS and/or its suppliers.
            Your use of the Software is governed by the terms of the end user license agreement,
            if any, which accompanies or is included in the Software. You may not install or
            use any Software that is accompanied by or includes a License Agreement unless you
            first agree to the License Agreement terms.</p>
            <h2 class="subhead">
            Indemnification</h2>
            <p class="info1">
            You agree, at your own expense, to indemnify, defend and hold harmless HASS,
            its directors and employees, representatives, suppliers and Advisors, against any
            claim, suit, action or other proceeding brought against HASS, its directors
            and employees, representatives, suppliers and as by a third party, to the extent
            that such claim, suit, action or other proceeding brought against HASS,
            its directors and employees, representatives, suppliers and Advisors is based on
            or arises in connection with the use of this Website, or any links therein, including,
            but not limited to :<br>
            <br>
            Your use or someone else's use of your access to the Website.
            <br>
            <br>
            Your use/operation or someone using/operating or conducting any transactions, where
            applicable
            <br>
            <br>
            A violation of the terms and conditions contained herein by you or anyone using
            your or any other computer
            <br>
            <br>
            A claim that any use of the Website by you or someone using your computer infringes
            any Intellectual Property Right of any third party, or any right of personality
            or publicity, is libelous or defamatory, or otherwise results in injury or damage
            to any third party
            <br>
            <br>
            Any deletions, additions, insertions or alterations to, or any unauthorized use
            of, the Website by you or someone using your computer
            <br>
            <br>
            Any misrepresentation or breach of representation or warranty contained herein made
            by you or
            <br>
            <br>
            Any breach of any covenant or agreement to be performed by you hereunder.
            <br>
            <br>
            You agree to pay any and all costs, damages and expenses, including, but not limited
            to, reasonable attorneys' fees and costs awarded against or otherwise incurred by
            or in connection with or arising  from any such claim, suit, action or proceeding
            attributable to any such claim.</p>
            <h2 class="subhead">
            Disclaimer of warranties</h2>
            <p class="info1">
            You expressly agree that use of the Website is at your sole risk. The Website
            is provided on an "as is" and "as available" basis.<br>
            <br>
            Except as warranted in these Terms and Conditions, we expressly disclaim all warranties
            of any kind, whether express or implied or statutory, including, but not limited
            to the implied warranties of merchantability, fitness for a particular purpose,
            data accuracy &amp; completeness, and any warranties relating to non-infringement.<br>
            <br>
            We shall not be responsible or liable for the authenticity, accuracy, completeness,
            errors, omission, typographic errors, disruption, delay, interruption, failure,
            deletion, defect of any information, research, reports, analysis, quotes etc in
            this Website or any part thereof.<br>
            <br>
            We shall not incur any liability direct or indirect, to you or any third party,
            as a consequence of non-functioning of any equipment belonging to you, any third
            party or us. We shall not be responsible for any downtime of such equipment.<br>
            <br>
            We do not warrant that access to the Website will be uninterrupted, timely, secure,
            or error free; nor do we make any warranty as to the results that may be obtained
            from the Website or as to the accuracy or reliability of the content contained
            therein.<br>
            <br>
            We make no warranty regarding the transactions entered into through the Website.
            No advice or information, whether oral or written, obtained by you from or through
            the website or any person shall create any warranty not expressly stated herein.<br>
            <br>
            We shall not be liable for any action taken by you based on or relying on the information
            provided in or by the Website.<br>
            <br>
            We will not be liable for any virus that may enter your system as a result of you
            using the website. We make no guarantees to you or third parties that the content
            contained on the Website would be virus free. We will not be liable for any direct,
            incidental or consequential loss, which may be caused to you as a result of your
            use of the Website.<br>
            <br>
            If you are dissatisfied with any portion of this website or with any of these Terms
            and Conditions, your sole and exclusive remedy is to discontinue using the Website.<br>
            <br>
            Use of "cookie" file features<br>
            HASS reserves the right to store information on a user's computer in the
            form of a "cookie" or similar file for purposes of modifying the website to reflect
            users' preferences.</p>
            <h2 class="subhead">
            Limitation of liability</h2>
            <p class="info1">
            Under no circumstances, including but not limited to negligence, shall HASS,
            its employees and directors, its suppliers and its third party Advisors be liable
            to you for any direct, indirect, incidental, special or consequential damages or
            any damages whatsoever including punitive or exemplary (including, but not limited
            to, damages caused by any virus, personal injury, loss of profits, data or other
            intangible, business interruption, loss of privacy, or any other pecuniary loss),
            arising out of or in any way connected with the use/delivery/performance of this Website, with the delay or inability to use this website or any links or items
            on the Website, the provision of or failure to provide services, or for any information,
            software, products, services and related graphics obtained through this Website,
            or otherwise arising out of the use of this Website, whether based on contract,
            tort, strict liability or other wise, or for cost of procurement of substitute goods
            and repair &amp; correction services or resulting from the use of this Website
            or obtained or messages received or transactions entered into through or from the Website or resulting from unauthorized access to or alteration of your transmissions
            or data, even if we have been advised of the possibility of such damages.
            <br>
            <br>
            You agree that we shall not be liable for any damages arising from interruption,
            suspension or termination of the Website, including but not limited to direct,
            indirect, incidental, special, consequential or exemplary damages, whether such
            interruption, suspension or termination was justified or not, negligent or intentional,
            inadvertent or advertent. Applicable law may not allow the limitation or exclusion
            of liability or incidental or consequential damages. However, in no event shall
            our liability to you for all damages, losses and causes of action (whether in contract
            or tort, including but not limited to, negligence) exceed the amount paid by you,
            if any, for accessing the Website.</p>
            <h2 class="subhead">
            Modification of these Terms and Conditions</h2>
            <p class="info1">
            HASS has the absolute discretion to amend or supplement any of these Terms
            at any time and will endeavour to give prior notice of five days for such changes
            wherever feasible. The modifications to the Terms shall be displayed on the Web
            site. In the case where the Customer no longer wishes to use the Website on such
            new terms and conditions he/she is entitled to terminate his/her relationship in
            accordance with the termination clause in these Terms. On and from the date on which
            the amendment or supplement is notified by display on the Website, the Customer
            shall, by virtue of these Terms and without any further act, deed or writing on
            the part of any party, be deemed to have accepted the changed terms and conditions
            by his further use/access or visit to the Website.</p>
            <h2 class="subhead">
            Severability</h2>
            <p class="info1">
            If any part of these Terms and Conditions are determined to be invalid or unenforceable
            pursuant to applicable law including, but not limited to, the warranty disclaimers
            and liability limitations set forth above, then the invalid or unenforceable provision
            will be deemed superseded by a valid, enforceable provision that most closely matches
            the intent of the original provision and the remainder of the Terms and Conditions
            shall continue in effect.<br>
            <br>
            </p>
            <h2 class="subhead">
            Notices</h2>
            <p class="info1">
            Notices under these Terms may be given by HASS and the Customer in writing
            by delivering them by hand or by sending them by post to the last address given
            by the Customer and in the case of HASS to the address mentioned on the
            Website.
            <br>
            <br>
            In addition, HASS may also publish notices of general nature, which are
            applicable to all Visitors or Customers in a newspaper or on its Website. Such
            notices will have the same effect as a notice served individually to each Visitor
            or Customer.
            <br>
            <br>
            In the case of hand delivery, cable, telex, facsimile notices or electronic communication
            notices or instructions will be deemed served 7 days after posting or upon receipt
            as the case may be. Documents, which may be sent by electronic communication between
            the parties, may be in the form of an electronic mail, an electronic mail attachment,
            or in the form of an available download from the Website. HASS shall be
            deemed to have fulfilled any legal obligation to deliver to the Customer if any
            such document is sent via electronic delivery. Any instructions received from the
            Customer/Visitor by means of electronic delivery or by facsimile would be deemed
            to have been sent on paper.</p>
            <h2 class="subhead">
            Foreign Jurisdiction</h2>
            <p class="info1">
            HASS accepts no liability whatsoever, direct or indirect for non-compliance
            with the laws of any country other than that of India. The mere fact that the Website can be accessed by a Visitor or a Customer in a country other than India would
            not mean that the laws of the said country would govern these Terms and/or the Website operations of the Customer and/or the use of the Website by the Visitor or
            the Customer.
            <br>
            <br>
            The services available on the Website are being offered only to residents of India.
            Provided however, that such services are not available to foreign residents including
            non-resident Indians ("NRI's") in foreign jurisdictions where the services cannot
            be offered without prior regulatory compliance. It shall be the sole responsibility
            of foreign residents including NRIs in foreign jurisdictions to verify whether the
            services available on the Website can be accessed and utilised in their respective
            jurisdictions. The services which are part of the Website do not constitute an
            offer to sell or a solicitation of an offer to buy any policies/products to any
            person in any jurisdiction where it is unlawful to make such an offer or solicitation.</p>
            <h2 class="subhead">
            Miscellaneous</h2>
            <p class="info1">
            You agree that no joint venture, partnership, employment, or agency relationship
            exists between us as a result of these Terms and Conditions or use of this Website.
            <br>
            <br>
            HASS's performance of this agreement is subject to existing laws and legal
            process, and nothing contained in this agreement is in derogation of HASS's
            right to comply with governmental, court and law enforcement requests or requirements
            relating to your use of this Website or information provided to gathered by ICICI
            Lombard with respect of such use.
            <br>
            <br>
            You acknowledge that any rights not expressly granted herein are reserved.
            <br>
            <br>
            These Terms and Conditions constitutes the entire agreement between us with respect
            to this Website and it supersedes all prior or contemporaneous communications and
            proposals, whether electronic, oral or written, between us with respect to this
            Website.
            <br>
            <br>
            The clause headings in these Terms and Conditions are for only for convenience and
            do not affect the meaning of the relative term.
            <br>
            <br>
            HASS may sub-contract and employ Advisors to carry out any of its obligations
            under these Terms and Conditions. HASS may transfer or assign its rights
            and obligations under this contract to any Affiliate.
            <br>
            <br>
            HASS shall try and ensure that all information that is provided on the Website with respect to policies / products are accurate in all respects and are
            kept up to date. However, HASS does not guarantee the timeliness, accuracy,
            completeness, reliability or content of the information and any changes that are
            made with respect to the same and the Visitor/Customer is required to check the
            accuracy of the same with the office of HASS.
            <br>
            <br>
            All transactions, which cannot be carried out instantaneously, would be carried
            out during working hours either on the same day or on the next working day or such
            further period as may be determined and/or specified by HASS depending
            upon the time of logging of the transaction
            <br>
            <br>
            All transactions that are carried out by and on behalf of the Customer shall be
            subject to Government notifications, the rules, regulations and guidelines issued
            by the Insurance Regulatory and Development Authority, the Securities and Exchange
            Board of India, the Reserve Bank of India, and those of other regulatory bodies
            defining rules/regulations governing the offer of any service on the Website.
            <br>
            <br>
            If any provision or condition of these Terms shall be held to be invalid or unenforceable
            by reason of any law, rule, administrative order or judicial decision by any court, info
            or regulatory or self-regulatory agency or body, such invalidity or unenforceability
            shall attach only to such provision or condition. The validity of the remaining
            provisions and conditions shall not be affected thereby and these Terms shall be
            carried out as if any such invalid or unenforceable provision or condition was not
            <br>
            <br>
            HASS may from time to time send by e-mail or otherwise, information relating
            to products and services offered by its Affiliates, general information related
            to financial and other services, life and general insurance products.</p>
            <h2 class="subhead">
            Privacy Policy</h2>
            <p class="info1">
            In the process of using this Website, the Privacy Policy as set forth in the Website
            www.icicilombard.com shall be applicable.</p>
            <h2 class="subhead">
            Contact</h2>
            <p class="info1">
            If you have any questions you may contact us at <a href="mailto:insuranceonline@hass.com">insuranceonline@icicilombard.com</a><br>
            <br>
            You can also go through the Terms &amp; Conditions before you download the Claims
            forms and the Terms &amp; Conditions before you download the Proposal forms</p>
            </div>
    </div>
</div>

{% endblock %}