
{% extends 'maste.html' %}
{% load static %}
{% block containt %}

    
<div id="head1">
    <img src="{% static 'images/artical.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;">What Are New IRDAI Regulations and How It Will Benefit The Customers?</h1>
    </div>        
<div class="container">
   <div class="row">
       <div>
        <h1 style="color: #053C6D;font-size: 23px;margin-top: 25px;font-weight:700;">
            UNBUNDLING OF THIRD PARTY & OWN DAMAGE COVER: WHAT IT MEANS FOR VEHICLE OWNERS
        </h1>
       </div>
       <div class="sfnewsAuthorAndDate sfmetainfo marB15">
        February 28 2020
    </div>
    <div>
        <h1 style="color: #053C6D;font-size: 20px;margin-top: 25px; font-style: italic;">The IRDAI’s new guideline will ensure fair pricing of motor insurance products and will provide greater flexibility to the vehicle owners</h1>
        <img class="img-responsive" title="no-parking" alt="no-parking" src="{% static 'images/thired.png' %}" displaymode="Original" style="margin-top: 10px;">
        <p>A motor insurance policy consists of two parts - own damage (OD) cover and third party (TP) liability cover. While the OD part provides coverage for any damage caused to the insured vehicle, the TP part covers the policyholder’s legal liability arising due to damages inflicted to a third party individual or property due to his/her negligence driving.</p>
        <p>
            Until recently, all car and bike owners had to buy an OD cover and TP insurance policy from the same insurer. However, on 21st June 2019, the Insurance Regulatory and Development Authority of India (IRDAI) declared via a circular that from September 2019 onwards, vehicle owners can choose to buy or renew a standalone OD cover from the insurer of their choice.

           
        </div>
 
        


<ul>
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">What was the previous industry norm?</h3>
    </li>
   <p>In July 2018, the Supreme Court of India made it mandatory for all motor insurance companies to provide a comprehensive 3-year long TP insurance policy for cars and 5-year TP cover for two-wheelers. This was done to address the issue of non-renewal of policy by the vehicle owners after its lapse.</p> 
   <p>However, the Supreme Court’s mandate was applicable only for TP cover, and not for OD cover. Thus, vehicle insurance companies started selling bundled products that included a 3-year or 5-year TP coverage (as applicable) along with the 1-year OD coverage.</p> 
   <p>Since most insurers did not sell any standalone product, at the time of renewal, either the policyholder had to renew the OD cover from its existing insurer by paying the quoted premium or purchase another bundled plan – that will include a TP cover + OD cover – from any other insurer. Such a scenario created a misalignment in the motor insurance market. Let’s understand this with the help of an example.</p> 
   <p>Suppose while buying a new car, the dealer offers the customer a policy package of a 3-year TP and 1-year OD cover from insurer Z. A year later, at the time of OD renewal, the customer is bound to buy it from insurer Z as no other insurer will offer him/her a standalone OD policy.</p> 
   <p>This arrangement also meant that the customer has to stuck with insurer Z for 3 years, even if he/she does not get the coverage at a competitive price. This significantly compromised the bargaining power of consumers. The IRDAI’s new regulation aims to handle this issue.</p> 
    
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">What is IRDAI’s new arrangement?</h3>
    </li>
    <p>In a circular dated 21st June 2019, the IRDAI stated that it is no longer compulsory for insurers to sell bundled TP and OD policies for cars and two-wheelers. It has also made it mandatory for the insurers to sell year-long standalone OD covers for both new and old vehicles.</p>
    <p>Further, the regulatory body has given vehicle owners the flexibility of choosing their insurers, wherein the TP liability cover and OD cover can be purchased from the same or different insurance provider.</p>
    
    <li>
    <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">How will the new rule benefit vehicle owners?</h3>
    </li>
    
    <p>According to Sanjay Dutta - ICICI Lombard General Insurance Limited’s Chief of Underwriting and Claims department, the IRDAI’s new regulation is a customer-friendly move as it will provide the vehicle owners more flexibility while buying an OD policy. Moreover, the new circular may also induce more competition amongst the insurers and hence, can result in reduction of motor insurance premiums.</p>
    <p>The IRDAI’s recent circular is directed at encouraging fair pricing into the Indian motor insurance market. While buying a vehicle, the owner can buy the mandatory TP cover from the dealer and purchase the OD cover later at his/her own discretion. This will compel the insurers to be fair to the customers and maintain uniformity in the prices of standalone OD plans and bundled options.</p>
    <li>
        <h3 style="color: #053C6D;font-size: 30px;margin-top: 25px;font-weight:700;">A plethora of choices for new vehicle owners</h3>
    </li>
    <p>
        The new rule by IRDAI has put forth the following choices for new vehicle owners to choose from:</p>
<p>
1. A standalone long-term TP cover: A new vehicle owner can buy a 3-year or 5-year long TP cover for car or bike respectively, from a particular insurer without buying an OD cover.
<p>
2. A standalone annual OD cover: A standalone OD cover can be purchased separately from another insurer after comparing the prices and benefits offered.</p>
<p>
3. A bundled OD and TP insurance policy: New vehicle owners can also opt for a long-term bundled plan that will include a 3 or 5 year TP cover along with an OD cover of one year or more.</p>
<p>
It should be noted that standalone OD policies will be offered only to those who already have a TP cover. Further, the IRDAI has also clarified that the bundled long-term policies will be applicable for new vehicles only, and not for renewal of existing policies for old vehicles. For renewal purposes, only standalone TP and OD covers will be available to the customers.
    </p>
    </ul>
        </div>
    </div>



{% endblock %}