{% extends 'master1.html' %}
{% block containt %}
<br>
<br>
<head>
    <style>
        .abhishek
        {
            color: darkslategray;
            border-radius: 15px;
            font-size: 15px;
            border-width: 20px;
        
        }
        .ad
        {
            color:olive;
            font-size: 25px;
            
        }
    </style>
</head>
<center><caption>  FEE POLICY FOR HASS COMPANY </h1></caption></center>
    <div class="container">
<div class="abhishek">
<center><table class="table table-striped table-bordered table-hover table-condensed"  cellpadding="0" cellspacing="0" class="size-13" width="80%">
    <tbody class="text-justify text-capitalize font-italic">
    <tr>
    <td>
    <div class="text-success h3">Cancellation</div>
    </td>
    
    <td >
    <div>
    Cancellation made more than 24hrs before booking start: ₹ 200
    <br>
    Cancellation made within 24hrs of booking start: ₹ 200 or 50 % of Booking Fee (whichever is greater)
    <br>
    
    Cancellation made after booking start: No Refund
    <br>
        (Cancellation refund will be done through the original payment method within 7- 10 business days)
    </div>
    </td>
</tr>
    <br>
    
    <tr>
    <td style="white-space: nowrap;">
    <div class="text-success h3">
    Reschedule before start
    <sup></sup>
    </div>
    </td>
    <td>
    <div >
    Modifications made more than 24hrs before booking start: ₹ 200&nbsp;
    </div>
    </td>
    </tr>
    

    <tr>
    <td >
    <div class="text-success h3">
    Extension post start
    <sup>

    </sup>
    </div>
    </td>
    <td >
    <div>
    For Doorstep Bookings: Extension within 2 hours of Bookings End time will lead to cancellation of Doorstep Collection. No refunds applicable
    </div>
    </td>
    </tr>
    <tr>
    <td >
    <div class="text-success h3">Shortening post start</div>
    </td>
    <td >
    <div>
    No charges or refunds applicable
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="text-success h3">Shortening/Rescheduling within 24hrs of booking start or booking end.</div>
    </td>
    <td >
    <div >
    Customers will not be able to change booking start time or shorten the booking end time. No refunds will be applicable. Although Customers can anytime extend the booking.
    </div>
    </td>
    </tr>
    <tr>
    <td >
    <div class="text-success h3" >Late Return</div>
    </td>
    <td >
    <div>
    Late return would be charged at ₹300/hour in addition to the hourly fee for use of the vehicle.
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div  class="text-success h3">Pricing plan change</div>
    </td>
    <td>
    <div >
    Pricing plan (free km per hour) cannot be changed post booking creation. Pricing will be charged on an half hour basis.
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="text-success h3">Free Kilometres</div>
    </td>
    <td >
    <div >
    The free kilometres allotted to the customer will be proportional to the number of hours booked and the flexi package chosen.
    </div>
    </td>
    </tr>
    <tr>
    <td >
    <div class="text-success h3" >Minimum Duration</div>
    </td>
    <td>
    <div>
    The minimum booking duration for which the prices will be charged is 4 hours.
    </div>
    </td>
    </tr>
    <tr>
    <td >
    <div class="text-success h3">Discounts</div>
    </td>
    <td >
    <div>
    Discount is applicable only on trips of a duration equal or greater than 8 hours at the time of booking. Discount is applicable only on the booking fee after adjustment for credits (excluding refundable deposit, if any) paid in advance to book the car.
    Discount will not be applicable on blackout days. List of upcoming blackout days / peak seasons is
    (Please ensure that you select your city to view corresponding blackout days/peak season).
    Zoomcar reserves the right to cancel a booking if any unwarranted use of a discount coupon is identified.
    </div>
    </td>
    </tr>
    <tr>
    <td >
    <div class="text-success h3">Fuel Policy</div>
    </td>
    <td >
    <div >
    Free Fuel is only included in pricing for with fuel bookings. Members will only be eligible for reimbursement of fuel expenses upon the submission of a Bill containing the quantity of fuel filled, the date on which the fuel was bought and the cost of the fuel.
    <br>
    In case of No Fuel bookings, the vehicle should be returned by the Member, upon the completion of the booking, with fuel at the same level as at the start of the booking.
    <br>
    If the Vehicle is returned with lesser fuel than the fuel level at the start of the trip then Refuelling penalty will be applicable.
    <br>
    No refund will be applicable if car is returned with excess fuel
    </div>
    </td>
    </tr>
    <tr>
    <td >
    <div class="text-success h3">Speed Governor</div>
    </td>
    <td >
    <div>
    The Vehicle may be enabled with speed governor in compliance with the applicable Government regulations, that limits speed of the Vehicle upto 80 km/h. You will also be notified by SMS on your registered number.
    </div>
    </td>
    </tr>
    <tr>
    <td >
    <div class="text-success h3" >Breakdown of vehicle</div>
    </td>
    <td>
    <div>
    1. The Member shall be responsible for the costs related to the repair, recovery, and loss of use of any Zoomcar vehicle resulting from any of the foregoing, up to the current damage fee, as set forth in the Fee Policy / Rate Schedule (if such costs are because of the fault of the Member or if the fault is not directly established to any other person/ entity, or where any cost is not paid / reimbursed by the insurer of Zoomcar vehicles or the insurer of the other vehicle involved in the accident).
    <br>
    2. Where the Member is not responsible for the breakdown of the Zoomcar vehicle, Zoomcar shall refund an amount equal to the cost of the unused hours of such booking. Further, Zoomcar shall not be liable for any further costs borne by the Member as a consequence of the breakdown of the Zoomcar vehicle
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="text-success h3">Usage of Zoom/Driving Credits</div>
    </td>
    <td >
    <div >
    Customers will be able to use Zoom/Driving credits upto 30% of Booking amount (excluding refundable deposit, if any) or upto 10,000 whichever is lesser
    </div>
    </td>
    </tr>
</div>
    </tbody>
    </table>
</center>
</div>
        {% endblock %}