{% extends 'maste.html' %}
{% load static %}
{% block containt %}
<div id="head1">
    <img src="{% static 'images/who.jpg' %}" class="ing-responsive" alt="" width="100%" height="300px" style="margin-top: -20px;">
    <h1 class="text-center" style="background-color: brown; font-size: 30px;font-weight: 600;height: 50px;line-height: 50px;color: white;margin-top: 0px;">Who we are</h1>
    </div>
    <div class="container" style="margin-top: 50px; font-size: 20px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="para paddTs">At HASS, customer satisfaction is our motto. Stretching ourselves and going beyond the ordinary for the satisfaction and smiles of our customers is something that is deeply embedded in our DNA. Be it an untoward incident due to the unpredictability of nature or losses suffered due to accidents or medical challenges, we remain committed to be at your side and serve you always.
        </p>
        <p class="para">The 2015 Chennai floods affected the lives of hundreds of people and caused widespread damage. In the face of such unexpected events, our team continues to work towards our goals without losing focus. Reaching out and reassuring customers by going the extra mile, reinstating normalcy as fast as possible, we remained steadfast in reducing emotional trauma and the impact of loss. Fast, fair and friendly as always, we put our customers’ needs above all.</p>
        <p class="para">In August 2018, the State of Kerala has been witnessing significant disruption due to widespread floods that were triggered by excessive rains. Not only did it affect the lives of hundreds of people but has also caused widespread damage. Nevertheless, our team has continued to work towards our goals of assisting our customers without losing focus. Activating direct communication through SMS and social media to initiate speedy settlement of claims, we've successfully reached out and reassured our customers by going the extra mile. By initiating a hotline facility to prioritize customer calls from Kerala, we have remained steadfast in reinstating normalcy at the earliest. Fast, fair and friendly as always, we put our customers’ needs above all.
        </p><p class="para">Our value proposition is driven by a promise to be the best partner for our customers. Hence we are here to live up to our promises.  With a promise to ensure quick and smooth claims processing, our unmatched services are there to assist you at all times. 
        </p><p class="para">As a responsible corporate citizen, HASS reiterates its commitment towards its customers and the community at large. The initiatives are expected to yield positive results and the company hopes to support the flood-ravaged State in bringing back the situation to normalcy.
        </p>
        </div>
        </div>
        </div>
{% endblock %}